/*
  Copyright 2014 Team 254. All Rights Reserved.
  Author: nick@team254.com (Nick Eyre)
*/

html {
  -webkit-user-select: none;
  -moz-user-select: none;
  overflow: hidden;
}
body {
  background-color: #000;
  font-family: "FuturaLTBold";
  color: #fff;
}
body[data-mode=logo] {
  background-color: #000;
}
body[data-mode=fieldReset] {
  background-color: #0a3;
}

/* Switching Modes */
.mode {
  display: none;
}
body[data-mode=logo] .mode#logo {
  display: block;
}
body[data-mode=match] .mode#match {
  display: block;
}
body[data-mode=fieldReset] .mode#fieldReset {
  display: table;
}
body[data-mode=timeout] .mode#match {
  display: block;
}

/* Logo Mode */
#logo #logoImg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 70%;
  margin: auto auto;
}

/* Field Reset Mode */
#fieldReset {
  position: absolute;
  width: 100%;
  height: 100%;
}
#fieldReset div {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 350px;
  line-height: 350px;
}

/* Match Mode */
#match {
  position: absolute;
  width: 100%;
  height: 100%;
}
#match[data-state=WARMUP_PERIOD], #match[data-state=AUTO_PERIOD], #match[data-state=PAUSE_PERIOD],
    #match[data-state=TELEOP_PERIOD], #match[data-state=POST_MATCH], #match[data-state=TIMEOUT_ACTIVE],
    #match[data-state=POST_TIMEOUT] {
  background-color: #fff;
  color: #000;
}
#preMatch, #inMatch {
  display: none;
}
#match[data-state=PRE_MATCH] #preMatch {
  display: block;
}
#match[data-state=WARMUP_PERIOD] #inMatch, #match[data-state=AUTO_PERIOD] #inMatch,
    #match[data-state=PAUSE_PERIOD] #inMatch, #match[data-state=TELEOP_PERIOD] #inMatch,
    #match[data-state=POST_MATCH] #inMatch, #match[data-state=TIMEOUT_ACTIVE] #inMatch,
    #match[data-state=POST_TIMEOUT] #inMatch {
  display: block;
}

/* In Match */
#inMatch .datapoint {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  margin-top: -250px;
  height: 250px;
  top: 50%;
  font-size: 500px;
  line-height: 500px;
  text-align: center;
}
body[data-position=left] #inMatch #redScore {
  display: block;
  color: #f43;
}
body[data-position=middle] #inMatch #timeRemaining {
  display: block;
  font-size: 32vw;
}
body[data-position=right] #inMatch #blueScore {
  display: block;
  color: #07f;
}

/* Pre Match */
#preMatch #teamNumber {
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  margin: 0 auto;
  font-size: 35vw;
  line-height: 450px;
  text-align: center;
}
#preMatch .databar {
  position: absolute;
  bottom: 100px;
  left: 0;
  right: 0;
  margin: 0 auto;
  height: 200px;
  line-height: 200px;
  text-align: center;
  font-family: "FuturaLT";
  font-size: 120px;
  color: #fff;
}
#preMatch .databar#disabled {
  font-family: "FuturaLTBold";
  display: none;
}
#preMatch sub {
  font-size: 50px;
}
#match[data-status=bypass] #disabled {
  display: block;
}
#match[data-status=bypass] #teamName {
  display: none;
}
[data-alliance-bg=R], [data-status=R] {
  background-color: #d00;
}
[data-alliance-bg=B], [data-status=B] {
  background-color: #00c;
}
#teamRank {
  background-color: transparent;
}
#playoffAllianceInfo {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  font-family: "FuturaLT";
  font-size: 50px;
}