/*
  Copyright 2014 Team 254. All Rights Reserved.
  Author: pat@patfairbank.com (Patrick Fairbank)
*/

html {
  cursor: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  overflow: hidden;
}
#overlayCentering {
  position: absolute;
  bottom: -210px;
  width: 100%;
  height: 170px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#matchOverlay {
  display: flex;
  flex-direction: column;
  border: 1px solid #222;
  color: #222;
  font-size: 22px;
}
#matchOverlayTop {
  height: 100px;
  display: flex;
}
.teams {
  width: 55px;
  height: 100%;
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #fff;
  font-family: "FuturaLT";
  font-size: 20px;
  line-height: 25px;
}
#leftTeams {
  border-right: 1px solid #222;
}
#rightTeams {
  border-left: 1px solid #222;
}
.reversible-left[data-reversed=false], .reversible-right[data-reversed=true] {
  background-color: #ff4444;
}
.reversible-left[data-reversed=true], .reversible-right[data-reversed=false] {
  background-color: #2080ff;
}
.score {
  width: 0;
  height: 100%;
  display: flex;
  justify-content: flex-start;
}
.score-right {
  justify-content: flex-end;
}
.avatars {
  min-width: 50px;
  height: 100%;
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.avatar {
  height: 25px;
}
.score-number {
  width: 130px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "FuturaLTBold";
  font-size: 55px;
  color: #fff;
  opacity: 0;
}
.score-fields {
  height: 100%;
  width: 0;
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-family: "FuturaLTBold";
  font-size: 20px;
  line-height: 25px;
  color: #fff;
  opacity: 0;
}
#matchCircle {
  position: absolute;
  top: -25px;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  background-color: #fff;
  border: 1px solid #222;
}
#logo {
  position: relative;
  top: 30px;
  height: 90px;
}
#matchTime {
  position: relative;
  top: 1px;
  height: 60px;
  color: #222;
  font-family: "FuturaLTBold";
  font-size: 32px;
  opacity: 0;
}
#eventMatchInfo {
  height: 0;
  display: none;
  justify-content: space-between;
  z-index: -1;
  align-items: flex-end;
  padding: 0 5px;
  background-color: #444;
  font-family: "FuturaLT";
  font-size: 15px;
  line-height: 30px;
  color: #fff;
}
.valign-cell {
  display: table-cell;
  vertical-align: middle;
}
#blindsContainer {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.blinds {
  position: fixed;
  top: 0;
  background-size: 200%;
  height: 100%;
  width: 50%;
  overflow: hidden;
}
.blinds.left {
  background-position: left;
  left: -50%;
}
.blinds.right {
  background-position: right;
  right: -50%;
}
.blinds.full {
  width: 100%;
  background-position: center;
  background-size: 100%;
}
.blinds.background {
  background-image: url("/static/img/endofmatch-bg.png");
}
.blindsCenter {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto auto;
  border-radius: 50%;
  width: 310px;
  height: 310px;
  background-color: #fff;
  border: 1px solid #333;
  box-shadow: 0 0 5px #666;
  text-align: center;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  z-index: 2;
}
.blindsCenter.full {
  left: 0;
  right: 0;
  transform: rotateY(-180deg);
}
.blinds.left .blindsCenter.blank {
  right: -155px;
}
.blinds.full .blindsCenter.blank {
  right: 0;
  left: 0;
}
.blinds.right .blindsCenter.blank {
  left: -155px;
}
#blindsLogo {
  position: relative;
  top: 37px;
  height: 250px;
}
#finalScore {
  position: fixed;
  width: 1200px;
  height: 550px;
  top: 65px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto auto;
  border: 2px solid #333;
  z-index: 0;
  opacity: 0;
  background-color: #444;
}
.final-score {
  float: left;
  width: 50%;
  height: 38%;
  line-height: 200px;
  border-bottom: 2px solid #333;
  color: #fff;
  font-family: "FuturaLTBold";
  font-size: 100px;
  text-align: center;
  text-shadow: 0 0 3px #333;
}
#leftFinalScore {
  padding-right: 150px;
}
#rightFinalScore {
  clear: right;
  padding-left: 150px;
}
.final-teams {
  float: left;
  width: 50%;
  height: 9%;
  overflow: hidden;
  line-height: 50px;
  text-align: center;
  color: #fff;
  font-family: "FuturaLT";
  font-size: 32px;
}
.final-team {
  display: inline-block;
}
.rank-spacer {
  display: inline-block;
  width: 42px;
}
.rank-box {
  text-align: center;
  margin-right: 2px;
  display: inline-block;
  height: 25px;
  line-height: 25px;
  font-size: 13pt;
  width: 28px;
  position: relative;
  bottom: 6px;
}
.rank-box.rank-up {
  color: #fff;
  background-color: #0a3;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.rank-box.rank-down {
  color: #fff;
  background-color: #c11;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.rank-box.rank-same {
  color: #222;
  background-color: #aaa;
  border-radius: 3px;
}
.arrow-up {
  width: 0;
  height: 0;
  position: absolute;

  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
  border-bottom: 8px solid #0a3;
  top: 211px;
}
.arrow-down {
  width: 0;
  height: 0;
  position: absolute;

  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
  border-top: 8px solid #c11;
  top: 244px;
}
.final-teams>span {
  margin: 0 10px;
}
.final-teams>span>sup {
  margin-left: 3px;
  font-size: 18px;
  vertical-align: super;
}
.final-avatar {
  height: 35px;
  position: relative;
  bottom: 5px;
  margin-left: 3px;
}
#leftFinalTeams {
  padding-right: 5%;
  clear: left;
  border-right: 2px solid #333;
}
#rightFinalTeams {
  padding-left: 5%;
}
.rank-up {
  color: #0c3;
}
.rank-down {
  color: #f33;
}
.final-breakdown {
  float: left;
  width: 33%;
  height: 44%;
  padding: 0px 20px;
  display: table;
  text-align: center;
  background-color: #fff;
  color: #222;
  font-family: "FuturaLT";
  font-size: 24px;
}
#leftFinalBreakdown {
  clear: left;
  text-align: right;
}
#rightFinalBreakdown {
  text-align: left;
}
#centerFinalBreakdown {
  width: 34%;
  border-left: 2px solid #333;
  border-right: 2px solid #333;
}
#finalEventMatchInfo {
  clear: both;
  width: 100%;
  height: 9%;
  line-height: 50px;
  padding: 0px 25px;
  font-family: "FuturaLT";
  font-size: 28px;
  color: #fff;
}
[data-checked=true] {
  color: #0c0;
}
[data-checked=false] {
  color: #e00;
}
.final-footer {
  float: left;
  width: 33.3%;
  white-space: nowrap;
}
#finalSeriesStatus {
  text-align: center;
  min-height: 1px;
}
#finalSeriesStatus[data-leader="red"] {
  color: #f66;
}
#finalSeriesStatus[data-leader="blue"] {
  color: #39f;
}
#finalMatchName {
  text-align: right;
}
#sponsor {
  position: fixed;
  width: 1000px;
  height: 600px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto auto;
  border: 2px solid #333;
  z-index: 1;
  opacity: 0;
  background-color: #fff;
  text-align: center;
}
#sponsor .carousel-inner, #sponsor .item {
  height: 100%;
}
.sponsor-image-container {
  width: 1000px;
  height: 500px;
  display: table-cell;
  vertical-align: middle;
}
#sponsor h1, #sponsor h2 {
  font-family: "FuturaLTBold";
  margin: 0;
}
#sponsor h1 {
  font-size: 60px;
  background-color: #444;
  color: #fff;
  padding: 0.25em;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 96px;
}
#sponsor h2 {
  font-size: 6em;
  padding-top: 145px;
  line-height: 110px;
}
#sponsor img {
  max-width: 800px;
  max-height: 400px;
}
#allianceSelectionCentering {
  position: absolute;
  height: 100%;
  top: 3em;
  right: 3em;
}
#allianceSelection {
  display: table-cell;
  vertical-align: middle;
}
#allianceSelectionTable {
  background-color: #fff;
  border: 2px solid #222;
  text-align: center;
  font-family: "FuturaLT";
  font-size: 3.5em;
}
#allianceSelectionTable img {
  width: 6em;
  margin: -0.2em;
}
#allianceSelectionTable tr:nth-child(even) {
  background-color: #ccc;
}
.alliance-cell {
  padding: 0px 40px;
  font-family: "FuturaLT";
  color: #999;
}
.selection-cell {
  width: 3.4em;
  color: #222;
}
#lowerThird {
  display: none;
  position: absolute;
  left: -1000px;
  bottom: 100px;
  background-color: #fff;
  border: 1px solid #222;
  color: #222;
  font-size: 30px;
  width: 800px;
  height: 87px;
}
#lowerThirdLogo {
  margin: 12px 20px;
  height: 60px;
  float: left;
}
#lowerThirdTop {
  position: relative;
  top: 10px;
  display: none;
  font-family: "FuturaLTBold";
}
#lowerThirdBottom {
  display: none;
  font-family: "FuturaLT";
  font-size: 23px;
  position: relative;
  top: 5px;
}
#lowerThirdSingle {
  display: none;
  font-family: "FuturaLTBold";
  line-height: 87px;
}
