/*
Copyright 2014 Team 254. All Rights Reserved.
Author: nick@team254.com (Nick Eyre)
*/

/* Control Panel (Temporary) */
.controlpanel {
	position: fixed;
	right: 20px;
	top: 20px;
	z-index: 99;
	background-color: white;
	padding: 20px;
	border: 1px solid black;
}

/* Top Level Container */
html,body {
	height: 100%;
	margin: 0;
	width: 100%;
}
#topcontainer {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

/* Design Element: Blinds */
.blinds {
	position: fixed;
	top: 0;
	background-size: 200%;
	height: 100%;
	width: 50%;
}
.blinds.left {
	background-position: left;
	left: -50%;
}
.blinds.right {
	background-position: right;
	right: -50%;
}
.blinds.full {
	width: 100%;
	background-position: center;
	background-size: 100%;
}

/* Screen: Logo */
#logo .blinds.background {
	background-image: url('/static/img/endofmatch-bg.png');
}
#logo .blinds.center {
	background-image: url('/static/img/endofmatch-center.png');
  	-webkit-backface-visibility: hidden;
}
#logo .blinds.center.blank {
	background-image: url('/static/img/endofmatch-center-blank.png');
}