/*
  Copyright 2014 Team 254. All Rights Reserved.
  Author: pat@patfairbank.com (Patrick Fairbank)
*/

html {
  cursor: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  overflow: hidden;
}
#centering {
  position: absolute;
  left: 50%;
  bottom: -340px;
}
#matchOverlay {
  position: relative;
  left: -50%;
  bottom: 70px;
  margin: 0 auto;
  height: 104px;
  background-color: #fff;
  border: 1px solid #222;
  color: #222;
  font-size: 22px;
}
.teams {
  width: 40px;
  height: 100%;
  line-height: 29px;
  text-align: center;
  display: table;
  font-family: "FuturaLT";
  font-size: 21px;
}
.avatars {
  display: none;
}
.avatar {
  height: 25px;
  margin: 4px 10px 3px;
}
.valign-cell {
  display: table-cell;
  vertical-align: middle;
}
#leftTeams {
  float: left;
  border-right: 1px solid #222;
}
#rightTeams {
  float: right;
  border-left: 1px solid #222;
}
.score {
  width: 0px;
  height: 100%;
  float: left;
}
.reversible-left[data-reversed=false], .reversible-right[data-reversed=true] {
  background-color: #ff4444;
}
.reversible-left[data-reversed=true], .reversible-right[data-reversed=false] {
  background-color: #2080ff;
}
#eventMatchInfo {
  display: none;
  position: absolute;
  right: -1px;
  left: -1px;
  height: 30px;
  bottom: 0px;
  line-height: 30px;
  background-color: #444;
  border: 1px solid #222;
  padding: 0px 5px;
  font-family: "FuturaLT";
  font-size: 15px;
  color: #fff;
  z-index: -1;
}
#matchCircle {
  position: absolute;
  left: -75px;
  bottom: 50px;
  margin: 0 auto;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  background-color: #fff;
  border: 1px solid #222;
}
.score-number {
  float: left;
  width: 60%;
  margin: 0px 5px;
  text-align: center;
  font-family: "FuturaLTBold";
  font-size: 55px;
  line-height: 104px;
  color: #fff;
  opacity: 0;
}
.score-fields {
  float: left;
  display: block;
  font-size: 20px;
  font-family: "FuturaLTBold";
  color: #fff;
  opacity: 0;
}
.score-fields span {
  display: inline-block;
  line-height: 34px;
  padding: 0;
}
.power-up[data-state="0"] {
  opacity: 1;
}
.power-up[data-state="1"] {
  color: #ffff00;
}
.power-up[data-state="2"] {
  color: #ffff00;
  animation: power-up-blinker 0.5s linear infinite;
}
.power-up[data-state="3"] {
  opacity: 0.4;
}
@keyframes power-up-blinker {
  50% {
    opacity: 0.5;
  }
}
.score-fields-icons {
  text-align: center;
  width: 28px;
}
.score-fields-text {
  width: 19px;
}
.powerup-progress {
  float: left;
  height: 100%;
  margin: 0 4px 0 4px;
  width: 6px;
}
.powerup-progress>div {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 6px;
  height: 0;
  margin: auto;
  background-color: #fff;
  opacity: 0.7;
  border-radius: 3px;
}
#logo {
  position: relative;
  top: 15px;
  height: 120px;
}
#matchTime {
  position: relative;
  top: -26px;
  height: 60px;
  color: #222;
  font-family: "FuturaLTBold";
  font-size: 32px;
  opacity: 0;
}
.seesaw-indicator {
  position: absolute;
  bottom: 8px;
  border-radius: 3px;
  width: 11px;
  height: 16px;
  background-color: #ccc;
  border: 1px solid #333;
  opacity: 0;
}
.seesaw-indicator[data-owned-by="1"] {
  background-color: #ff4444;
}
.seesaw-indicator[data-owned-by="2"] {
  background-color: #2080ff;
}
#leftSwitchIndicator {
  left: 50px;
}
#scaleIndicator {
  left: 68px;
}
#rightSwitchIndicator {
  left: 86px;
}
#blindsContainer {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.blinds {
  position: fixed;
  top: 0;
  background-size: 200%;
  height: 100%;
  width: 50%;
  overflow: hidden;
}
.blinds.left {
  background-position: left;
  left: -50%;
}
.blinds.right {
  background-position: right;
  right: -50%;
}
.blinds.full {
  width: 100%;
  background-position: center;
  background-size: 100%;
}
.blinds.background {
  background-image: url("/static/img/endofmatch-bg.png");
}
.blindsCenter {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto auto;
  border-radius: 50%;
  width: 310px;
  height: 310px;
  background-color: #fff;
  border: 1px solid #333;
  box-shadow: 0 0 5px #666;
  text-align: center;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  z-index: 2;
}
.blindsCenter.full {
  left: 0;
  right: 0;
  transform: rotateY(-180deg);
}
.blinds.left .blindsCenter.blank {
  right: -155px;
}
.blinds.full .blindsCenter.blank {
  right: 0;
  left: 0;
}
.blinds.right .blindsCenter.blank {
  left: -155px;
}
#blindsLogo {
  position: relative;
  top: 17px;
  height: 275px;
}
#finalScore {
  position: fixed;
  width: 950px;
  height: 550px;
  top: 65px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto auto;
  border: 2px solid #333;
  z-index: 0;
  opacity: 0;
  background-color: #444;
}
.final-score {
  float: left;
  width: 50%;
  height: 38%;
  line-height: 200px;
  border-bottom: 2px solid #333;
  color: #fff;
  font-family: "FuturaLTBold";
  font-size: 100px;
  text-align: center;
  text-shadow: 0 0 3px #333;
}
#leftFinalScore {
  padding-right: 150px;
}
#rightFinalScore {
  clear: right;
  padding-left: 150px;
}
.final-teams {
  float: left;
  width: 50%;
  height: 9%;
  line-height: 50px;
  text-align: center;
  color: #fff;
  font-family: "FuturaLT";
  font-size: 32px;
}
.final-teams span {
  margin: 0 10px;
}
.final-avatar {
  height: 35px;
  position: relative;
  bottom: 5px;
}
#leftFinalTeams {
  padding-right: 5%;
  clear: left;
  border-right: 2px solid #333;
}
#rightFinalTeams {
  padding-left: 5%;
}
.final-breakdown {
  float: left;
  width: 33%;
  height: 44%;
  padding: 0px 20px;
  display: table;
  text-align: center;
  background-color: #fff;
  color: #222;
  font-family: "FuturaLT";
  font-size: 24px;
}
#leftFinalBreakdown {
  clear: left;
  text-align: right;
}
#rightFinalBreakdown {
  text-align: left;
}
#centerFinalBreakdown {
  width: 34%;
  border-left: 2px solid #333;
  border-right: 2px solid #333;
}
#finalEventMatchInfo {
  clear: both;
  width: 100%;
  height: 9%;
  line-height: 50px;
  padding: 0px 25px;
  font-family: "FuturaLT";
  font-size: 28px;
  color: #fff;
}
[data-checked=true] {
  color: #0c0;
}
[data-checked=false] {
  color: #e00;
}
.final-footer {
  float: left;
  width: 33.3%;
  white-space: nowrap;
}
#finalSeriesStatus {
  text-align: center;
  min-height: 1px;
}
#finalSeriesStatus[data-leader="red"] {
  color: #f66;
}
#finalSeriesStatus[data-leader="blue"] {
  color: #39f;
}
#finalMatchName {
  text-align: right;
}
#sponsor {
  position: fixed;
  width: 1000px;
  height: 600px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto auto;
  border: 2px solid #333;
  z-index: 1;
  opacity: 0;
  background-color: #fff;
  text-align: center;
}
#sponsor .carousel-inner, #sponsor .item {
  height: 100%;
}
.sponsor-image-container {
  width: 1000px;
  height: 500px;
  display: table-cell;
  vertical-align: middle;
}
#sponsor h1, #sponsor h2 {
  font-family: "FuturaLTBold";
  margin: 0;
}
#sponsor h1 {
  font-size: 60px;
  background-color: #444;
  color: #fff;
  padding: 0.25em;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 96px;
}
#sponsor h2 {
  font-size: 6em;
  padding-top: 145px;
  line-height: 110px;
}
#sponsor img {
  max-width: 800px;
  max-height: 400px;
}
#allianceSelectionCentering {
  position: absolute;
  height: 100%;
  top: 3em;
  right: 3em;
}
#allianceSelection {
  display: table-cell;
  vertical-align: middle;
}
#allianceSelectionTable {
  background-color: #fff;
  border: 2px solid #222;
  text-align: center;
  font-family: "FuturaLT";
  font-size: 3.5em;
}
#allianceSelectionTable img {
  width: 5em;
  margin: -0.3em;
}
#allianceSelectionTable tr:nth-child(even) {
  background-color: #ccc;
}
.alliance-cell {
  padding: 0px 40px;
  font-family: "FuturaLT";
  color: #999;
}
.selection-cell {
  width: 3.4em;
  color: #222;
}
#lowerThird {
  display: none;
  position: absolute;
  left: -1000px;
  bottom: 100px;
  background-color: #fff;
  border: 1px solid #222;
  color: #222;
  font-size: 30px;
  width: 800px;
  height: 87px;
}
#lowerThirdLogo {
  margin: 12px 20px;
  height: 60px;
  float: left;
}
#lowerThirdTop {
  position: relative;
  top: 10px;
  display: none;
  font-family: "FuturaLTBold";
}
#lowerThirdBottom {
  display: none;
  font-family: "FuturaLT";
  font-size: 23px;
  position: relative;
  top: 5px;
}
#lowerThirdSingle {
  display: none;
  font-family: "FuturaLTBold";
  line-height: 87px;
}
