/*
Copyright 2014 Team 254. All Rights Reserved.
Author: nick@team254.com (Nick Eyre)
*/

html,body {
	height: 100%;
	margin: 0;
	width: 100%;
}
.container {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}


.blinds {
	position: fixed;
	top: 0;
	background-size: 200%;
	height: 100%;
	width: 50%;
}
.blinds.left {
	background-position: left;
	left: -50%;
}
.blinds.right {
	background-position: right;
	right: -50%;
}
.blinds.full {
	width: 100%;
	background-position: center;
	background-size: 100%;
}

#fillerscreen .blinds.background {
	background-image: url('/static/img/endofmatch-bg.png');
}
#fillerscreen .blinds.center {
	background-image: url('/static/img/endofmatch-center.png');
  	-webkit-backface-visibility: hidden;
}
#fillerscreen .blinds.center.blank {
	background-image: url('/static/img/endofmatch-center-blank.png');
}