/*
  Copyright 2018 Team 254. All Rights Reserved.
  Author: pat@patfairbank.com (Patrick Fairbank)
*/

html {
  height: 100%;
  overflow: hidden;
}
body {
  height: 100%;
  font-family: FuturaLTBold;
  color: #fff;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.position-row {
  height: 29%;
}
#matchStatusRow {
  height: 6%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #333;
  font-size: 1.5vw;
  text-transform: uppercase;
}
#eventStatusRow {
  height: 7%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #333;
  font-size: 1.5vw;
  text-transform: uppercase;
}
.left-position, .right-position {
  width: 8%;
  height: 100%;
  font-size: 6vw;
}
.left-position[data-reversed=false], .right-position[data-reversed=true] {
  background-color: #f44;
}
.left-position[data-reversed=true], .right-position[data-reversed=false] {
  background-color: #2080ff;
}
.team {
  width: 42%;
  height: 100%;
  background-color: #333;
  display: flex;
  flex-direction: column;
}
.team-id {
  width: 100%;
  height: 80%;
  font-size: 13vw;
}
.team-id[data-fta="true"] {
  height: 40%;
  font-size: 6vw;
}
.team-id[data-status=no-link], .team-notes[data-status=no-link] {
  background-color: #963;
}
.team-id[data-status=ds-linked], .team-notes[data-status=ds-linked]  {
  background-color: #ff0;
  color: #333;
}
.team-id[data-status=robot-linked], .team-notes[data-status=robot-linked]  {
  background-color: #0a3;
}
.team-id[data-status=radio-linked], .team-notes[data-status=radio-linked]  {
  background-color: #ff00ff;
}
.team-id[data-status=wrong-station], .team-notes[data-status=wrong-station]  {
  background-color: #246f92;
}
.team-box-row {
  display: flex;
  height: 20%;
  width: 100%;
}
.team-box {
  width: calc(100%/6);
  height: 100%;
  font-size: 1.5vw;
  background-color: #333;
}
.team-box[data-status-ok="true"] {
  background-color: #0a3;
}
.team-box[data-status-ok="false"] {
  background-color: #f44;
}
.team-box i {
  margin-right: 0.5vw;
}
.team-notes[data-fta="true"] {
  height: 40%;
  display: flex;
  justify-content: space-between;
  padding: 0.5vw;
  font-size: 1vw;
}
.team-notes[data-fta="false"] {
  display: none;
}
.team-notes div {
  width: 96%;
  height: 96%;
  white-space: pre;
}
textarea {
  width: 96%;
  height: 96%;
  background-color: #ccc;
  color: #000;
}
.left-score[data-fta="false"], .right-score[data-fta="false"] {
  display: none;
}
.left-score[data-reversed=false], .right-score[data-reversed=true] {
  color: #f44;
}
.left-score[data-reversed=true], .right-score[data-reversed=false] {
  color: #2080ff;
}
