/* Header styling */
h1 {
    text-align: center;
    color: #ffffff;
}

/* Container for all status items */
.status-container {
    margin-top: 20px;
}

/* Individual status item styling */
.team-id {
    display: flex;
    align-items: center;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    color: #333;
}

/* Color box for each status */
.status-color-box {
    width: 50px;
    height: 50px;
    margin-right: 20px;
    border-radius: 5px;
}

/* Description area for each status */
.status-description {
    font-size: 16px;
}

/* Name of the status (bold) */
.status-name {
    font-weight: bold;
}

/* Color code (italic) */
.status-code {
    font-style: italic;
    margin-left: 10px;
}

.team-id[data-status=no-link], .team-notes[data-status=no-link] {
  background-color: #AAA;
}
.team-id[data-status=ds-linked], .team-notes[data-status=ds-linked] {
  background-color: #EDAB33;
}
.team-id[data-status=robot-linked], .team-notes[data-status=robot-linked] {
  background-color: #00ff00;
  color: #333;
}
.team-id[data-status=rio-linked], .team-notes[data-status=rio-linked] {
  background-color: #00cc00;
}
.team-id[data-status=radio-linked], .team-notes[data-status=radio-linked] {
  background-color: #AA3377;
}
.team-id[data-status=wrong-station], .team-notes[data-status=wrong-station] {
  background-color: #4477AA;
}