/*
  Copyright 2026 Team 254. All Rights Reserved.
*/

html {
    -webkit-user-select: none;
    -moz-user-select: none;
    overflow: hidden;
}

body {
    margin: 0;
    background-color: #000;
    font-family: "FuturaLTBold";
    color: #fff;
}

#hub {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#hubLabel {
    font-size: 12vw;
    text-align: center;
}

#hub[data-color=off] {
    background-color: #222;
}

#hub[data-color=red] {
    background-color: #d00;
}

#hub[data-color=blue] {
    background-color: #00c;
}

#hub[data-color=green] {
    background-color: #0a3;
}

#hub[data-color=purple] {
    background-color: #90c;
}