/*
  Copyright 2018 Team 254. All Rights Reserved.
  Author: pat@patfairbank.com (Patrick Fairbank)
*/

html {
  height: 100%;
  cursor: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  overflow: hidden;
}
body {
  height: 100%;
  background-image: url("/static/img/endofmatch-bg.png?v=1");
  background-repeat: no-repeat;
  background-size: cover;
}
h1 {
  font-size: 40px;
}
#header {
  padding: 10px 0px;
  font-size: 40px;
  font-family: "FuturaLTBold";
  color: #000;
  text-transform: uppercase;
}
#logo {
  margin-bottom: 10px;
  height: 50px;
}
.well {
  background-color: #ccc;
  border: 1px solid #333;
  padding: 10px;
  margin-top: 0px;
  margin-bottom: 15px;
}
#matchState, #matchTime {
  font-size: 35px;
  color: #666;
}
#matchTime {
  font-weight: bold;
}
.red-teams, .blue-teams {
  font-family: FuturaLTBold;
  line-height: 51px;
  font-size: 45px;
}
.red-teams {
  color: #ff4444;
}
.blue-teams {
  color: #2080ff;
}
.avatars {
  line-height: 51px;
}
#footer {
  font-size: 25px;
  font-family: "FuturaLTBold";
  color: #000;
  text-align: center;
  text-transform: uppercase;
}
