/*
  Copyright 2018 Team 254. All Rights Reserved.
  Author: pat@patfairbank.com (Patrick Fairbank)
*/

html {
  height: 100%;
  cursor: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  overflow: hidden;
}
body {
  height: 100%;
  background: -moz-linear-gradient(top, #003375 1%, #3C679D 100%); /* FF3.6+ */
  background: -webkit-linear-gradient(top, #003375 1%, #3C679D 100%); /* Chrome10+,Safari5.1+ */
  background-repeat: no-repeat;
}
h1 {
  font-size: 40px;
}
#header {
  padding: 10px 0px;
  font-size: 40px;
  font-family: "FuturaLTBold";
  color: #fff;
  text-transform: uppercase;
}
.well {
  background-color: #ccc;
  border: 1px solid #333;
  padding: 10px;
  margin-top: 0px;
  margin-bottom: 15px;
}
#matchState, #matchTime {
  font-size: 25px;
  color: #666;
}
#matchTime {
  font-weight: bold;
}
.red-teams, .blue-teams {
  font-family: FuturaLTBold;
  line-height: 48px;
  font-size: 42px;
}
.red-teams {
  color: #ff4444;
}
.blue-teams {
  color: #2080ff;
}
.avatars {
  line-height: 48px;
}
#earlyLateMessage {
  position: absolute;
  bottom: 40px;
  font-size: 25px;
  font-family: "FuturaLTBold";
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}
.alliance-container {
  display: flex;
  height: 192px;
  justify-content: space-between;
  align-items: center;
}
.alliance-number {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fc0;
  color: #333;
  border-radius: 50%;
  border: 1px solid #333;
  font-size: 25px;
  font-weight: bold;
}