/*
Copyright 2014 Team 254. All Rights Reserved.
Author: nick@team254.com (Nick Eyre)
*/

body {
	font-family: 'robotoregular';
	position: fixed;
	font-size: 2em;
	cursor: none;
}

#titlebar {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	padding: .2em 1em;
	font-size: 2em;
}
#titlebar img {
	height: 1em;
	position: fixed;
	top: .4em;
	right: 1em;
}

#header {
	position: fixed;
	left: 0;
	top: 4em;
	width: 100%;
	background-color: #0070ff;
	color: white;
	text-align: center;
}
#container {
	position: fixed;
	top: 5.9em;
	bottom: 1.8em;
	right: 0;
	left: 0;
	overflow-y: scroll;
	text-align: right;
}
::-webkit-scrollbar { 
    display: none; 
}
td {
	padding: 0.2em 1em;
}
.left {
	text-align: left;
}
#container tr:nth-child(even) {
	background-color: #ddd;
}
#footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	background: white;
	padding: 0.2em 1em;
	border-top: 1px solid black;
}
#footer .right {
	float: right;
}