/*
  Copyright 2014 Team 254. All Rights Reserved.
  Author: pat@patfairbank.com (Patrick Fairbank)
*/

html {
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
}
body {
  background-color: #222;
  padding: 50px;
  color: #fff;
}
h3, h4 {
  color: #fff;
}
.btn-referee {
  width: 100px;
  margin: 5px 5px;
  font-size: 25px;
  cursor: default;
}
.btn-rule {
  font-size: 21px;
}
.btn-referee-wide {
  width: 254px;
  margin: 5px 5px;
  font-size: 25px;
}
.btn {
  cursor: default;
}
.btn-referee[data-selected="true"] {
  border: 5px solid #fc0;
  margin: 0px 5px;
}
tr {
  font-size: 15px;
}
.row-red {
  background-color: #cb210e;
}
.row-blue {
  background-color: #028fc0;
}
.btn-card {
  width: 120px;
  margin: 5px 5px;
  font-size: 30px;
  cursor: default;
  background-color: #444;
  color: #fff;
}
.btn-card[data-card="yellow"] {
  background-color: #dd0;
}
.btn-card[data-card="red"] {
  background-color: #cb210e;
}
.btn-card[data-old-yellow-card="true"] {
  border: 5px solid #ff0;
  margin: 0px 5px;
}
