/*
  Copyright 2014 Team 254. All Rights Reserved.
  Author: pat@patfairbank.com (Patrick Fairbank)
*/

html {
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
}
body {
  background-color: #222;
  padding: 50px;
  color: #fff;
}
h3, h4 {
  color: #fff;
}
.btn-referee {
  font-size: 25px;
  cursor: default;
}
.btn-rule {
  font-size: 21px;
}
.btn-referee-wide {
  width: 254px;
  margin: 5px 5px;
  font-size: 25px;
}
.btn {
  cursor: default;
}
tr {
  font-size: 15px;
}
.row-red {
  background-color: #cb210e;
}
.row-blue {
  background-color: #028fc0;
}
.btn-card {
  width: 100px;
  margin: 5px 5px;
  font-size: 30px;
  cursor: default;
  background-color: #444;
  color: #fff;
}
.btn-card[data-card="yellow"] {
  background-color: #dd0;
}
.btn-card[data-card="red"] {
  background-color: #cb210e;
}
.btn-card[data-old-yellow-card="true"] {
  border: 5px solid #ff0;
  margin: 0px 5px;
}
.teams-swiper .swiper-slide {
  opacity: 0.5;
}

.teams-swiper {
  border-radius: 5px;
  width: 70%;
}

.rules-swiper {
  border-radius: 5px;
  padding-bottom: 100px;
  width: 100%;
}

.rules-swiper .btn-referee {
  max-width: 120px;
}

.rules-swiper .swiper-slide {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.swiper-slide .btn-referee{
  opacity: 0.5;
}

.teams-swiper .swiper-slide[data-selected="true"] {
  border: 3px solid #eee;
  opacity: 1;
  margin: 0px 5px;
}

.rules-swiper .swiper-slide[data-selected="true"] .btn-referee{
  border: 3px solid #eee;
  opacity: 1;
  margin: 0px 5px;
}

.rules-swiper .rule-description {
  position: absolute;
  color: rgb(180, 180, 180);
  font-style: italic;
  top: 70px;
  width: 50vw;
  display: none;
  font-size: 15pt;
}

.rules-swiper .swiper-slide[data-selected="true"] .rule-description {
  display: inline-block;
}
