/*
  Copyright 2019 Team 254. All Rights Reserved.
  Author: pat@patfairbank.com (Patrick Fairbank)
*/
html {
  height: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
}
body {
  height: 100%;
  background-color: #222;
}
.container {
  padding-top: 2vw;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
#alliance {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 25px;
  border: 1px solid #333;
}
#alliance[data-alliance="red"] {
  background-color: #322;
}
#alliance[data-alliance="blue"] {
  background-color: #223;
}
#matchName {
  font-size: 2vw;
}
.scoring-section {
  margin-bottom: 0.5vw;
  display: flex;
  font-size: 1.5vw;
  color: #ccc;
}
.scoring-header>div{
  height: 2.5vw;
  margin: 0.4vw 1vw 0.4vw 0.2vw;
  color: #666;
}
.robot-field {
  width: 17vw;
  height: 2.5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.4vw 0.2vw;
}
.team {
  display: flex;
  justify-content: center;
  font-weight: bold;
}
.boolean[data-value="false"] {
  background-color: #333;
}
.boolean[data-value="true"] {
  background-color: #263;
}
.endgame-status[data-value="0"] {
  background-color: #333;
}
.endgame-status[data-value="1"] {
  background-color: #236;
}
.endgame-status[data-value="2"] {
  background-color: #263;
}
.control-panel[data-value="disabled"] {
  background-color: #333;
}
.control-panel[data-value="false"] {
  background-color: #236;
}
.control-panel[data-value="true"] {
  background-color: #263;
}
.control-panel-color[data-value="0"] {
  background-color: #333;
}
.control-panel-color[data-value="0"][data-control-panel-status="1"] {
  border: 3px solid red;
}
.control-panel-color[data-value="1"] {
  background-color: #633;
}
.control-panel-color[data-value="2"] {
  background-color: #263;
}
.control-panel-color[data-value="3"] {
  background-color: #236;
}
.control-panel-color[data-value="4"] {
  background-color: #882;
}
.shortcut {
  margin: 0 0.2vw;
  font-size: 1vw;
  align-self: flex-start;
}
#elements {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.goal-header {
  height: 5vw;
  margin: 0.4vw 0vw;
  color: #666;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.goal-period {
  text-align: center;
  color: #666;
}
.goal {
  width: 13vw;
  height: 5vw;
  margin: 0.4vw 3vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.number-button {
  width: 4vw;
  height: 4vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #666;
  border-radius: 0.5vw;
  font-size: 3vw;
}
.plus {
  background: #263;
}
.minus {
  background: #633;
}
#instructions {
  margin-top: 0.3vw;
}
#postMatchMessage {
  height: 5vw;
  display: none;
  align-items: center;
  font-size: 1.5vw;
  color: #c90;
}
#commitMatchScore {
  height: 5vw;
  display: none;
  align-items: center;
}
#commitMatchScore>button {
  font-size: 1vw;
}
