/*
  Copyright 2019 Team 254. All Rights Reserved.
  Author: pat@patfairbank.com (Patrick Fairbank)
*/
html {
  height: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  overscroll-behavior: none;
}
body {
  height: 100%;
  background-color: #222;
  overscroll-behavior: none;
}
.container {
  padding-top: 1vw;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
#alliance {
  width: 98%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 25px;
  border: 1px solid #333;
}
#alliance[data-alliance="red"] {
  background-color: #322;
}
#alliance[data-alliance="blue"] {
  background-color: #223;
}
#matchName {
  font-size: 2vw;
}
.scoring-section {
  margin-bottom: 0.5vw;
  display: flex;
  font-size: 1.5vw;
  color: #ccc;
}
.scoring-header>div{
  height: 3.3vw;
  display: flex;
  align-items: center;
  margin: 0.4vw 1vw 0.4vw 0.2vw;
  color: #ccc;
}
.robot-field {
  width: 17vw;
  height: 3.3vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.4vw 0.2vw;
}
.team {
  display: flex;
  justify-content: center;
  font-size: 3vw;
  font-weight: bold;
}
.boolean[data-value="false"] {
  background-color: #333;
}
.boolean[data-value="true"] {
  background-color: #263;
}
.endgame-status[data-value="0"] {
  background-color: #333;
}
.endgame-status[data-value="1"] {
  background-color: #652;
}
.endgame-status[data-value="2"] {
  background-color: #263;
}
.charge-station-level[data-value="false"] {
  background-color: #622;
}
.charge-station-level[data-value="true"] {
  background-color: #263;
}
#grid {
  width: 100%;
  margin-top: 1.5vw;
  margin-bottom: 1.5vw;
  display: flex;
  flex-direction: column;
}
.grid-row {
  width: 100%;
  display: flex;
  justify-content: center;
}
.grid-node {
  width: 10vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  padding: 0.5vw;
  margin-top: -1px;
  margin-left: -1px;
}
.grid-node[data-node="2"], .grid-node[data-node="5"] {
  margin-right: 1vw;
}
.grid-node-auto {
  width: 4vw;
  height: 2vw;
  margin-bottom: 0.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5vw;
  background-color: #333;
  color: #ccc;
}
.grid-node-auto[data-value="true"] {
  background-color: #263;
}
.grid-node-states {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.grid-node-button {
  width: 4vw;
  height: 4vw;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.4;
}
.grid-node-button[data-value="true"] {
  border: 2px solid #aaa;
  border-radius: 0.5vw;
  opacity: 1;
}
.grid-node-button img {
  width: 90%;
}
#chargeStation {
  width: 70vw;
  justify-content: space-between;
  align-items: center;
}
#postMatchMessage {
  height: 5vw;
  display: none;
  align-items: center;
  font-size: 1.5vw;
  color: #c90;
}
#commitMatchScore {
  height: 5vw;
  display: none;
  align-items: center;
}
#commitMatchScore>button {
  font-size: 1vw;
}
