/*
  Copyright 2023 Team 254. All Rights Reserved.
  Author: pat@patfairbank.com (Patrick Fairbank)
*/

@import url("/static/css/display_overlay_shared.css");

#overlayCentering {
  top: -200px;
}

#matchOverlayAux {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 175px;
}

.score-aux {
  width: 230px;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10px;
  opacity: 0;
}

#leftScoreAux {
  margin-right: 5px;
  padding-right: 35px;
}

#rightScoreAux {
  padding-left: 35px;
}

.score-aux .score-fuel {
  width: 100px;
}

.score-aux .score-hub-active {
  margin: 0;
}

#message {
  position: absolute;
  display: none;
  opacity: 0;
  top: 130px;
  font-size: 1.4vw;
  font-family: "FuturaLTBold";
  color: #fff;
}
