/*
  Copyright 2024 Team 254. All Rights Reserved.
  Author: pat@patfairbank.com (Patrick Fairbank)
*/

html {
  overflow: hidden;
}
body {
  margin: 0;
  background-color: #000;
}
#webpageFrame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}
