<!DOCTYPE html>
<html>
  <head>
    <title>Alliance Station Display - {{.EventSettings.Name}} - Cheesy Arena </title>
    <link rel="shortcut icon" href="/static/img/favicon32.png">
    <link rel="stylesheet" href="/static/css/lib/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/css/cheesy-arena.css" />
    <link rel="stylesheet" href="/static/css/alliance_station_display.css" />
  </head>
  <body>
    <div id="displayId" style="display: none;"></div>
    <div id="match" style="display: none;">
      <div id="preMatch" style="display: none;">
        <div id="preMatchTeamId"></div>
        <div id="teamName"></div>
      </div>
      <div id="inMatch" style="display: none;">
        <div id="inMatchTeamId"></div>
        <div id="matchTime"></div>
        <div class="row" id="matchInfo">
          <div class="col-lg-6 text-center" id="redScore"></div>
          <div class="col-lg-6 text-center" id="blueScore"></div>
        </div>
      </div>
    </div>
    <div id="logoContainer" style="display: none;">
      <img id="logo" src="/static/img/logo-white.svg" />
    </div>
    <div id="hotGoalLight" style="display: none;"></div>
    <script>
      // A unique id to differentiate this station's display from its peers.
      var displayId = "{{.DisplayId}}";
    </script>
    <script src="/static/js/lib/jquery.min.js"></script>
    <script src="/static/js/lib/jquery.json-2.4.min.js"></script>
    <script src="/static/js/lib/jquery.websocket-0.0.1.js"></script>
    <script src="/static/js/cheesy-websocket.js"></script>
    <script src="/static/js/match_timing.js"></script>
    <script src="/static/js/alliance_station_display.js"></script>
  </body>
</html>
