<!DOCTYPE html>
<html>
  <head>
    <title>Alliance Station Display - {{.EventSettings.Name}} - Cheesy Arena </title>
    <link rel="shortcut icon" href="/static/img/favicon32.png">
    <link rel="stylesheet" href="/static/css/lib/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/css/cheesy-arena.css" />
    <link rel="stylesheet" href="/static/css/alliance_station_display.css" />
  </head>
  <body>
    <div class="row" id="displayIdRow" style="display: none;">>
      <div class="col-lg-12 text-center" id="displayId">1718</div>
    </div>
    <div class="row" id="teamIdRow" style="display: none;">>
      <div class="col-lg-12 text-center" id="teamId">254</div>
    </div>
    <div class="row" id="teamNameRow" style="display: none;">
      <div class="col-lg-12 text-center" id="teamName">Buchanan Bird Brains</div>
    </div>
    <div class="row" id="matchInfoRow" style="display: none;">
      <div class="col-lg-4 text-center match-info" id="redScore"></div>
      <div class="col-lg-4 text-center match-info" id="matchTime"></div>
      <div class="col-lg-4 text-center match-info" id="blueScore"></div>
    </div>
    <script src="/static/js/lib/jquery.min.js"></script>
    <script src="/static/js/lib/jquery.json-2.4.min.js"></script>
    <script src="/static/js/lib/jquery.websocket-0.0.1.js"></script>
    <script src="/static/js/cheesy-websocket.js"></script>
    <script src="/static/js/match_timing.js"></script>
    <script src="/static/js/alliance_station_display.js"></script>
  </body>
</html>
