{{define "announcer_display_match_load"}}
<div class="row well-sm well-darkred">
  {{if eq .Match.Type playoffMatch}}
    <h4><b>Alliance {{.Match.PlayoffRedAlliance}}</b></h4>
  {{end}}
  {{template "team" dict "alliance" "red" "team" (index .Teams "R1")}}
  {{template "team" dict "alliance" "red" "team" (index .Teams "R2")}}
  {{template "team" dict "alliance" "red" "team" (index .Teams "R3")}}
  {{range $team := .RedOffFieldTeams}}
    {{template "team" dict "alliance" "red" "team" $team "isOffField" true}}
  {{end}}
</div>
<div class="row well-sm well-darkblue">
  {{if eq .Match.Type playoffMatch}}
    <h4><b>Alliance {{.Match.PlayoffBlueAlliance}}</b></h4>
  {{end}}
  {{template "team" dict "alliance" "blue" "team" (index .Teams "B1")}}
  {{template "team" dict "alliance" "blue" "team" (index .Teams "B2")}}
  {{template "team" dict "alliance" "blue" "team" (index .Teams "B3")}}
  {{range $team := .BlueOffFieldTeams}}
    {{template "team" dict "alliance" "blue" "team" $team "isOffField" true}}
  {{end}}
</div>
{{end}}
{{define "team"}}
<div class="row">
  {{if .team}}
    <div class="col-sm-3"><h2><b>{{.team.Id}}</b>{{if .isOffField}} (not on field){{end}}</h2></div>
    <div class="col-sm-5"><h2>{{.team.Nickname}}</h2></div>
    <div class="col-sm-3">
      <div><h4>{{.team.City}}, {{.team.StateProv}}, {{.team.Country}}</h4></div>
    </div>
    <div class="col-sm-1">
      <button type="button" class="btn btn-sm" onclick="$('#team{{.team.Id}}Details').modal('show');">More</button>
    </div>
    <div id="team{{.team.Id}}Details" class="modal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title">Team {{.team.Id}}</span></h4>
          </div>
          <div class="modal-body">
            <div class="row"><b>Rookie Year:</b> {{.team.RookieYear}}</div>
            <div class="row"><b>Robot Name:</b> {{.team.RobotName}}</div>
            <div class="row"><b>Recent Accomplishments:</b></div>
            <div>{{.team.Accomplishments}}</div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Dismiss</button>
          </div>
        </div>
      </div>
    </div>
  {{else}}
    <div class="col-sm-12"><h3><b>No team present</b></h3></div>
  {{end}}
</div>
{{end}}
