{{define "announcer_display_score_posted"}}
<div class="modal-dialog modal-xl">
  <div class="modal-content">
    <div class="modal-header" id="savedMatchResult">
      <h4 class="modal-title">Final Results &ndash; {{.Match.LongName}}</span></h4>
      <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
    </div>
    <div class="modal-body row">
      <div class="col-sm-6">
        <div class="card card-body bg-red">
          {{template "alliance_match_result" dict "summary" .RedScoreSummary "fouls" .RedFouls "cards" .RedCards
            "rankings" .RedRankings "rulesViolated" .RulesViolated "rankingPoints" .RedRankingPoints
            "matchType" .Match.Type}}
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card card-body bg-blue">
          {{template "alliance_match_result" dict "summary" .BlueScoreSummary "fouls" .BlueFouls "cards" .BlueCards
          "rankings" .BlueRankings "rulesViolated" .RulesViolated "rankingPoints" .BlueRankingPoints
          "matchType" .Match.Type}}
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    </div>
  </div>
</div>
{{end}}
{{define "alliance_match_result"}}
<h4>Score</h4>
<div class="row justify-content-center">
  <div class="col-sm-6">Auto Leave Points</div>
  <div class="col-sm-4">{{.summary.LeavePoints}}</div>
</div>
<div class="row justify-content-center">
  <div class="col-sm-6">Speaker Points</div>
  <div class="col-sm-4">{{.summary.SpeakerPoints}}</div>
</div>
<div class="row justify-content-center">
  <div class="col-sm-6">Amp Points</div>
  <div class="col-sm-4">{{.summary.AmpPoints}}</div>
</div>
<div class="row justify-content-center">
  <div class="col-sm-6">Stage Points</div>
  <div class="col-sm-4">{{.summary.StagePoints}}</div>
</div>
<div class="row justify-content-center">
  <div class="col-sm-6">Foul Points</div>
  <div class="col-sm-4">{{.summary.FoulPoints}}</div>
</div>
{{if ne .matchType playoffMatch}}
  <div class="row justify-content-center">
    <div class="col-sm-6">Melody Bonus RP</div>
    <div class="col-sm-4">{{if .summary.MelodyBonusRankingPoint}}Yes{{else}}No{{end}}</div>
  </div>
  <div class="row justify-content-center">
    <div class="col-sm-6">Ensemble Bonus RP</div>
    <div class="col-sm-4">{{if .summary.EnsembleBonusRankingPoint}}Yes{{else}}No{{end}}</div>
  </div>
{{end}}
<div class="row justify-content-center mt-3">
  <div class="col-sm-6"><b>Final Score</b></div>
  <div class="col-sm-4"><b>{{.summary.Score}}</b></div>
</div>
{{if ne .matchType playoffMatch}}
  <div class="row justify-content-center">
    <div class="col-sm-6"><b>Ranking Points</b></div>
    <div class="col-sm-4"><b>{{.rankingPoints}}</b></div>
  </div>
{{end}}
<h4 class="mt-3">Fouls</h4>
{{range $foul := .fouls}}
  <div class="row justify-content-center">
    <div class="col-sm-4">
      {{if and (index $.rulesViolated $foul.RuleId) (index $.rulesViolated $foul.RuleId).IsRankingPoint}}
        {{if $foul.IsTechnical}}Tech {{end}}Foul + Free RP
      {{else}}
        {{if $foul.IsTechnical}}Tech {{end}}Foul
      {{end}}
    </div>
    <div class="col-sm-3">Team {{$foul.TeamId}}</div>
    <div class="col-sm-3" data-bs-toggle="tooltip"
      {{if index $.rulesViolated $foul.RuleId}}title="{{(index $.rulesViolated $foul.RuleId).Description}}"{{end}}>
      {{if index $.rulesViolated $foul.RuleId}}{{(index $.rulesViolated $foul.RuleId).RuleNumber}}{{end}}
    </div>
  </div>
{{end}}
<h4 class="mt-3">Cards</h4>
{{range $team, $card := .cards}}
  {{if $card}}
    <div class="row justify-content-center">
      <div class="col-sm-6">Team {{$team}}</div>
      <div class="col-sm-4" style="text-transform: capitalize;">{{$card}}</div>
    </div>
  {{end}}
{{end}}
<h4 class="mt-3">Rankings</h4>
{{range $team, $ranking := .rankings}}
  {{if and $team $ranking}}
    <div class="row justify-content-center">
      <div class="col-sm-6">Team {{$team}}</div>
      <div class="col-sm-4">
        {{$ranking.Rank}}
        {{if and (gt $ranking.Rank $ranking.PreviousRank) (gt $ranking.PreviousRank 0)}}
          &#11015;
        {{else if lt $ranking.Rank $ranking.PreviousRank}}
          &#11014;
        {{end}}
        {{if gt $ranking.PreviousRank 0}}
          (was {{$ranking.PreviousRank}})
        {{end}}
      </div>
    </div>
  {{end}}
{{end}}
{{end}}
