{{/*
  Copyright 2014 Team 254. All Rights Reserved.
  Author: pat@patfairbank.com (Patrick Fairbank)

  Display shown on the audience screen overlayed over the video.
*/}}
<!DOCTYPE html>
<html>
  <head>
    <title>Audience Display - {{.EventSettings.Name}} - Cheesy Arena </title>
    <link rel="shortcut icon" href="/static/img/favicon.ico">
    <link rel="stylesheet" href="/static/css/lib/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/css/cheesy-arena.css" />
    <link rel="stylesheet" href="/static/css/audience_display.css" />
  </head>
  <body style="background-color: {{.EventSettings.DisplayBackgroundColor}};">
    <div id="centering">
      <div id="matchOverlay">
        <div class="teams" id="redTeams">
          <span class="valign-cell">
            <span id="redTeam1"></span><br />
            <span id="redTeam2"></span><br />
            <span id="redTeam3"></span>
          </span>
        </div>
        <div class="score" id="redScore">
          <div class="score-number" id="redScoreNumber">&nbsp;</div>
        </div>
        <div class="score" id="blueScore">
          <div class="score-number pull-right" id="blueScoreNumber">&nbsp;</div>
        </div>
        <div class="teams" id="blueTeams">
          <span class="valign-cell">
            <span id="blueTeam1"></span><br />
            <span id="blueTeam2"></span><br />
            <span id="blueTeam3"></span>
          </span>
        </div>
        <div id="eventMatchInfo">
          <span>{{.EventSettings.Name}} 2016</span>
          <span class="pull-right" id="matchName"></span>
        </div>
      </div>
      <div class="text-center" id="matchCircle">
        <img id="logo" src="/static/img/game-logo.svg" alt="logo" />
        <div id="matchTime"></div>
      </div>
    </div>
    <div id="blindsContainer">
      <div class="blinds right background">
        <div class="blindsCenter blank"></div>
      </div>
      <div class="blinds left background">
        <div class="blindsCenter blank"></div>
      </div>
      <div class="blindsCenter full">
        <img id="blindsLogo" src="/static/img/game-logo.svg" alt="logo" />
      </div>
      <div id="finalScore">
        <div class="final-score" id="redFinalScore"></div>
        <div class="final-score" id="blueFinalScore"></div>
        <div class="final-teams" id="redFinalTeams">
          <span id="redFinalTeam1"></span>
          <span id="redFinalTeam2"></span>
          <span id="redFinalTeam3"></span>
        </div>
        <div class="final-teams" id="blueFinalTeams">
          <span id="blueFinalTeam1"></span>
          <span id="blueFinalTeam2"></span>
          <span id="blueFinalTeam3"></span>
        </div>
        <div class="final-breakdown" id="redFinalBreakdown">
          <span class="valign-cell">
            <span id="redFinalAuto"></span><br />
            <span id="redFinalStack"></span><br />
            <span id="redFinalCoopertition"></span><br />
            <span id="redFinalFoul"></span>
          </span>
        </div>
        <div class="final-breakdown" id="centerFinalBreakdown">
          <span class="valign-cell">Autonomous<br />Stack<br />Coopertition<br />Foul</span>
        </div>
        <div class="final-breakdown" id="blueFinalBreakdown">
          <span class="valign-cell">
            <span id="blueFinalAuto"></span><br />
            <span id="blueFinalStack"></span><br />
            <span id="blueFinalCoopertition"></span><br />
            <span id="blueFinalFoul"></span>
          </span>
        </div>
        <div id="finalEventMatchInfo">
          <span>{{.EventSettings.Name}} 2016</span>
          <span class="pull-right" id="finalMatchName"></span>
        </div>
      </div>
      <div id="sponsor" class="carousel slide">
        <div class="carousel-inner" id="sponsorContainer">
        </div>
      </div>
    </div>
    <div id="allianceSelectionCentering" style="display: none;">
      <div id="allianceSelection"></div>
    </div>
    <div id="lowerThird">
      <img id="lowerThirdLogo" src="/static/img/lower-third-logo.png" alt="logo" />
      <div id="lowerThirdTop"></div>
      <div id="lowerThirdBottom"></div>
      <div id="lowerThirdSingle"></div>
    </div>
    <script id="allianceSelectionTemplate" type="text/x-handlebars-template">
      <table id="allianceSelectionTable">
        <tr>
          <td colspan="4">
            <img src="/static/img/game-logo.svg" alt="logo" />
          </td
        </tr>
        {{"{{#each this}}"}}
          <tr>
            <td class="alliance-cell">{{"{{Index}}"}}</td>
            {{"{{#each this}}"}}
              <td class="selection-cell">{{"{{#if TeamId}}"}}{{"{{TeamId}}"}}{{"{{/if}}"}}</td>
            {{"{{/each}}"}}
          </tr>
        {{"{{/each}}"}}
      </table>
    </script>
    <audio id="match-start" src="/static/audio/match_start.wav" preload="auto"></audio>
    <audio id="match-end" src="/static/audio/match_end.wav" preload="auto"></audio>
    <audio id="match-abort" src="/static/audio/match_abort.mp3" preload="auto"></audio>
    <audio id="match-resume" src="/static/audio/match_resume.wav" preload="auto"></audio>
    <audio id="match-endgame" src="/static/audio/match_endgame.wav" preload="auto"></audio>
    <script src="/static/js/lib/jquery.min.js"></script>
    <script src="/static/js/lib/jquery.json-2.4.min.js"></script>
    <script src="/static/js/lib/jquery.websocket-0.0.1.js"></script>
    <script src="/static/js/lib/jquery.transit.min.js"></script>
    <script src="/static/js/lib/handlebars-1.3.0.js"></script>
    <script src="/static/js/lib/bootstrap.min.js"></script>
    <script src="/static/js/cheesy-websocket.js"></script>
    <script src="/static/js/match_timing.js"></script>
    <script src="/static/js/audience_display.js"></script>
  </body>
</html>
