{{define "audience_display_radio_buttons"}}
<div class="row">
  <div>
    <label>
      <input type="radio" name="audienceDisplay" value="blank" onclick="setAudienceDisplay();">
      Blank
    </label>
  </div>
  <div>
    <label>
      <input type="radio" name="audienceDisplay" value="intro" onclick="setAudienceDisplay();" id="introRadio">
      Match Intro
    </label>
  </div>
  <div>
    <label>
      <input type="radio" name="audienceDisplay" value="match" onclick="setAudienceDisplay();">
      Match Play
    </label>
  </div>
  <div>
    <label>
      <input type="radio" name="audienceDisplay" value="score" onclick="setAudienceDisplay();" id="scoreRadio">
      Final Score
    </label>
  </div>
  <div>
    <label>
      <input type="radio" name="audienceDisplay" value="bracket" onclick="setAudienceDisplay();">
      Bracket
    </label>
  </div>
  <div>
    <label>
      <input type="radio" name="audienceDisplay" value="logo" onclick="setAudienceDisplay();">
      Logo With BG
    </label>
  </div>
  <div>
    <label>
      <input type="radio" name="audienceDisplay" value="logoLuma" onclick="setAudienceDisplay();">
      Logo Without BG
    </label>
  </div>
  <div>
    <label>
      <input type="radio" name="audienceDisplay" value="sponsor" onclick="setAudienceDisplay();">
      Sponsor Reel
    </label>
  </div>
  <div>
    <label>
      <input type="radio" name="audienceDisplay" value="allianceSelection" onclick="setAudienceDisplay();">
      Alliance Selection
    </label>
  </div>
  <div>
    <label>
      <input type="radio" name="audienceDisplay" value="timeout" onclick="setAudienceDisplay();">
      Timeout
    </label>
  </div>
</div>
{{end}}
