{{/*
Copyright 2014 Team 254. All Rights Reserved.
Author: pat@patfairbank.com (Patrick Fairbank)

Base template used by most pages to include common resources and optionally render the top bar.
*/}}
{{define "base"}}
  <!DOCTYPE html>
  <html lang="en" data-bs-theme="dark">
    <head>
      {{template "head_common" .}}
    </head>
    <body>
      <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container">
          <a class="navbar-brand" href="/">Freezy Arena a fork of Cheesy Arena</a>
          <ul class="navbar-nav me-auto">
            <li class="nav-item dropdown">
              <a href="#" class="nav-link" data-bs-toggle="dropdown" role="button">Setup</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="/setup/settings">Settings</a>
                <a class="dropdown-item" href="/setup/teams">Team List</a>
                <a class="dropdown-item" href="/setup/schedule">Match Scheduling</a>
                <a class="dropdown-item" href="/setup/judging">Judge Scheduling</a>
                <a class="dropdown-item" href="/setup/awards">Awards</a>
                <a class="dropdown-item" href="/setup/lower_thirds">Lower Thirds</a>
                <a class="dropdown-item" href="/setup/sponsor_slides">Sponsor Slides</a>
                <a class="dropdown-item" href="/setup/breaks">Scheduled Breaks</a>
                <a class="dropdown-item" href="/setup/displays">Display Configuration</a>
                <a class="dropdown-item" href="/setup/field_testing">Field Testing</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a href="#" class="nav-link" data-bs-toggle="dropdown" role="button">Run</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="/match_play">Match Play</a>
                <a class="dropdown-item" href="/match_review">Match Review</a>
                <a class="dropdown-item" href="/match_logs">Match Logs</a>
                <a class="dropdown-item" href="/alliance_selection">Alliance Selection</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a href="#" class="nav-link" data-bs-toggle="dropdown" role="button">Panel</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="/panels/referee">Head Referee</a>
                <a class="dropdown-item" href="/panels/referee?hr=false">Referee</a>
                <div class="dropdown-divider"></div>
                <div class="dropdown-header">Scoring</div>
                <a class="dropdown-item" href="/panels/scoring/red_near">Red Near</a>
                <a class="dropdown-item" href="/panels/scoring/red_far">Red Far</a>
                <a class="dropdown-item" href="/panels/scoring/blue_near">Blue Near</a>
                <a class="dropdown-item" href="/panels/scoring/blue_far">Blue Far</a>
                <div class="dropdown-divider"></div>
                <div class="dropdown-header">Alliance E-Stops</div>
                <a class="dropdown-item" href="/panel/freezy/eStopControl/red">Red E-Stops</a>
                <a class="dropdown-item" href="/panel/freezy/eStopControl/blue">Blue E-Stops</a>
                <div class="dropdown-divider"></div>
                <div class="dropdown-header">Practice</div>
                <a class="dropdown-item" href="/panel/freezy/add_practice_match">Filler Queue</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a href="#" class="nav-link" data-bs-toggle="dropdown" role="button">Report</a>
              <div class="dropdown-menu">
                <div class="dropdown-header">PDF Reports</div>
                <a class="dropdown-item" target="_blank" href="/reports/pdf/teams">Team List</a>
                <a class="dropdown-item" target="_blank" href="/reports/pdf/schedule/practice">Practice Schedule</a>
                <a class="dropdown-item" target="_blank" href="/reports/pdf/schedule/qualification">Qualification Schedule</a>
                <a class="dropdown-item" target="_blank" href="/reports/pdf/schedule/playoff">Playoff Schedule</a>
                <a class="dropdown-item" target="_blank" href="/reports/pdf/judging_schedule">Judging Schedule</a>
                <a class="dropdown-item" target="_blank" href="/reports/pdf/rankings">Standings</a>
                <a class="dropdown-item" target="_blank" href="/reports/pdf/alliances">Playoff Alliances</a>
                <a class="dropdown-item" target="_blank" href="/reports/pdf/bracket">Playoff Bracket</a>
                <a class="dropdown-item" target="_blank" href="/reports/pdf/backups">Backup Teams</a>
                <a class="dropdown-item" target="_blank" href="/reports/pdf/coupons">Playoff Alliance Coupons</a>
                <a class="dropdown-item" target="_blank" href="/reports/pdf/teams?showHasConnected=true">Team Connection Status</a>
                <a class="dropdown-item" target="_blank" href="/reports/pdf/cycle/practice">Practice Cycle Report</a>
                <a class="dropdown-item" target="_blank" href="/reports/pdf/cycle/qualification">Qualification Cycle Report</a>
                <a class="dropdown-item" target="_blank" href="/reports/pdf/cycle/playoff">Playoff Cycle Report</a>
                <div class="dropdown-divider"></div>
                <div class="dropdown-header">CSV Data Export</div>
                <a class="dropdown-item" target="_blank" href="/reports/csv/teams">Team List</a>
                <a class="dropdown-item" target="_blank" href="/reports/csv/fta">FTA Report</a>
                <a class="dropdown-item" target="_blank" href="/reports/csv/schedule/practice">Practice Schedule</a>
                <a class="dropdown-item" target="_blank" href="/reports/csv/schedule/qualification">Qualification Schedule</a>
                <a class="dropdown-item" target="_blank" href="/reports/csv/schedule/playoff">Playoff Schedule</a>
                <a class="dropdown-item" target="_blank" href="/reports/csv/rankings">Standings</a>
                <a class="dropdown-item" target="_blank" href="/reports/csv/backups">Backup Teams</a>
                {{if .EventSettings.NetworkSecurityEnabled}}
                  <a class="dropdown-item" target="_blank" href="/reports/csv/wpa_keys">WPA Keys</a>
                {{end}}
              </div>
            </li>
            <li class="nav-item dropdown">
              <a href="#" class="nav-link" data-bs-toggle="dropdown" role="button">Display</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="/display">Placeholder</a>
                <a class="dropdown-item" href="/displays/announcer">Announcer</a>
                <a class="dropdown-item" href="/displays/audience">Audience</a>
                <a class="dropdown-item" href="/displays/bracket">Bracket</a>
                <a class="dropdown-item" href="/displays/field_monitor">Field Monitor</a>
                <a class="dropdown-item" href="/displays/field_monitor?fta=true">Field Monitor (FTA)</a>
                <a class="dropdown-item" href="/displays/field_monitor?ds=true&reversed=true">Field Monitor (Blue DS)</a>
                <a class="dropdown-item" href="/displays/field_monitor?ds=true&reversed=false">Field Monitor (Red DS)</a>
                <a class="dropdown-item" href="/displays/logo">Logo</a>
                <a class="dropdown-item" href="/displays/queueing">Queueing</a>
                <a class="dropdown-item" href="/displays/rankings">Standings</a>
                <a class="dropdown-item" href="/displays/wall">Wall</a>
                <a class="dropdown-item" href="/displays/webpage">Web Page</a>
                <div class="dropdown-divider"></div>
                <div class="dropdown-header">Alliance Station</div>
                <a class="dropdown-item" href="/displays/alliance_station?station=R1">Red 1</a>
                <a class="dropdown-item" href="/displays/alliance_station?station=R2">Red 2</a>
                <a class="dropdown-item" href="/displays/alliance_station?station=R3">Red 3</a>
                <a class="dropdown-item" href="/displays/alliance_station?station=B1">Blue 1</a>
                <a class="dropdown-item" href="/displays/alliance_station?station=B2">Blue 2</a>
                <a class="dropdown-item" href="/displays/alliance_station?station=B3">Blue 3</a>
                <a class="dropdown-item" href="/displays/alliance_station?station=N2">Clock</a>
                <a class="dropdown-item" href="/displays/alliance_station?station=N3">Red Score</a>
                <a class="dropdown-item" href="/displays/alliance_station?station=N1">Blue Score</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a href="#" class="nav-link" data-bs-toggle="dropdown" role="button">Help</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="/help/freezy/field_monitor_help">Field Monitor Color Code</a>
                <a class="dropdown-item" href="/help/freezy/alliance_station_display_help">Alliance Station Display Color Codes</a>
                <a class="dropdown-item" href="/help/freezy/configuring_advanced_networking_help">Configuring Advanced Networking</a>
                <a class="dropdown-item" href="/help/freezy/running_the_event_help">Running The Event</a>
                <a class="dropdown-item" href="/static/pdf/DriverStation Preferences.pdf" target="_blank" rel="noopener noreferrer">DriverStation Preferences</a>
              </div>
           </li>
        </ul>
        <ul class="navbar-nav ms-auto">
          <li class="navbar-item">
            <a class="nav-link" href="#" onclick="$('#aboutPage').modal('show');">About</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container mt-4">
      {{template "body" .}}
    </div>
    <div id="aboutPage" class="modal" style="top: 20%;">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">About Cheesy Arena</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
          </div>
          <div class="modal-body">
            <p>A field management system that just works.</p>
            <p>Copyright &copy; 2014-2025 Team 254. All Rights Reserved.</p>
            <p><a href="https://github.com/Team254/cheesy-arena">https://github.com/Team254/cheesy-arena</a></p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    {{template "script_common" .}}
    {{template "script" .}}
  </body>
</html>
{{end}}

{{define "base_no_navbar"}}
<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
  <head>
    {{template "head_common" .}}
    {{template "head" .}}
  </head>
  <body>
    <div class="container">
      {{template "body" .}}
    </div>
    {{template "script_common" .}}
    {{template "script" .}}
  </body>
</html>
{{end}}

{{define "head_common"}}
<title>{{template "title" .}} - {{.EventSettings.Name}} - Cheesy Arena</title>
<meta name="mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<link rel="shortcut icon" href="/static/img/favicon.ico">
<link href="/static/css/lib/bootstrap.min.css" rel="stylesheet">
<link href="/static/css/lib/bootstrap-icons.min.css" rel="stylesheet">
<link href="/static/css/lib/tempus-dominus.min.css" rel="stylesheet">
<link href="/static/css/cheesy-arena.css" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1">
{{end}}

{{define "script_common"}}
<script src="/static/js/lib/jquery.min.js"></script>
<script src="/static/js/lib/jquery.json-2.4.min.js"></script>
<script src="/static/js/lib/jquery.websocket-0.0.1.js"></script>
<script src="/static/js/lib/bootstrap.bundle.min.js"></script>
<script src="/static/js/lib/moment.min.js"></script>
<script src="/static/js/lib/handlebars-1.3.0.js"></script>
<script src="/static/js/lib/popper.min.js"></script>
<script src="/static/js/lib/tempus-dominus.min.js"></script>
<script src="/static/js/cheesy-common.js"></script>
<script src="/static/js/cheesy-websocket.js"></script>
{{end}}
