{{/*
  Copyright 2014 Team 254. All Rights Reserved.
  Author: pat@patfairbank.com (Patrick Fairbank)

  Root page and entry point to Cheesy Arena.
*/}}
{{define "title"}}Home{{end}}
{{define "body"}}
<div class="jumbotron">
  <h2>Welcome to Cheesy Arena.</h2>
  <p>Use the navigation bar at the top to configure the event, play and score matches, view and print reports,
    or launch displays.</p>
  <p>For ad-hoc match control for testing or scrimmaging, go directly to
    <a href="/match_play">Match Play</a>.</p>
</div>
{{end}}
{{define "script"}}{{end}}
