{{/*
  Copyright 2014 Team 254. All Rights Reserved.
  Author: pat@patfairbank.com (Patrick Fairbank)

  UI for listing matches and their logs.
*/}}
{{define "title"}}Match Logs{{end}}
{{define "body"}}
<div class="row">
  <ul class="nav nav-tabs" style="margin-bottom: 15px;">
    <li{{if eq .CurrentMatchType practiceMatch }} class="active"{{end}}>
      <a href="#Practice" data-toggle="tab">Practice</a>
    </li>
    <li{{if eq .CurrentMatchType qualificationMatch }} class="active"{{end}}>
      <a href="#Qualification" data-toggle="tab">Qualification</a>
    </li>
    <li{{if eq .CurrentMatchType playoffMatch }} class="active"{{end}}>
      <a href="#Playoff" data-toggle="tab">Playoff</a>
    </li>
  </ul>
  <div class="tab-content">
    {{range $type, $matches := .MatchesByType}}
      <div class="tab-pane {{if eq $.CurrentMatchType $type }} active{{end}}" id="{{$type}}">
        <table class="table table-striped table-hover ">
          <thead>
            <tr>
              <th>Match</th>
              <th>Time</th>
              <th class="text-center">Red Alliance</th>
              <th class="text-center">Blue Alliance</th>
            </tr>
          </thead>
          <tbody>
            {{range $match := $matches}}
              <tr class="{{$match.ColorClass}}">
                <td>{{$match.ShortName}}</td>
                <td>{{$match.Time}}</td>
                <td class="text-center red-text">
                  <a href="/match_logs/{{$match.Id}}/R1/log" target="_blank"><b class="btn btn-info btn-xs">{{index $match.RedTeams 0}}</b></a>
                  <a href="/match_logs/{{$match.Id}}/R2/log" target="_blank"><b class="btn btn-info btn-xs">{{index $match.RedTeams 1}}</b></a>
                  <a href="/match_logs/{{$match.Id}}/R3/log" target="_blank"><b class="btn btn-info btn-xs">{{index $match.RedTeams 2}}</b></a>
                </td>
                <td class="text-center blue-text">
                  <a href="/match_logs/{{$match.Id}}/B1/log" target="_blank"><b class="btn btn-info btn-xs">{{index $match.BlueTeams 0}}</b></a>
                  <a href="/match_logs/{{$match.Id}}/B2/log" target="_blank"><b class="btn btn-info btn-xs">{{index $match.BlueTeams 1}}</b></a>
                  <a href="/match_logs/{{$match.Id}}/B3/log" target="_blank"><b class="btn btn-info btn-xs">{{index $match.BlueTeams 2}}</b></a>
                </td>
              </tr>
            {{end}}
          </tbody>
        </table>
      </div>
    {{end}}
  </div>
</div>
{{end}}
{{define "script"}}
{{end}}
