<b class="btn btn-primary" onclick="loadMatch(0);">Load Test Match</b>
<ul class="nav nav-tabs mt-4">
  <li>
    <a href="#Practice" class="nav-link{{if eq .CurrentMatchType practiceMatch }} active{{end}}" data-bs-toggle="tab">
      Practice
    </a>
  </li>
  <li>
    <a href="#Qualification" class="nav-link{{if eq .CurrentMatchType qualificationMatch }} active{{end}}"
      data-bs-toggle="tab">
      Qualification
    </a>
  </li>
  <li>
    <a href="#Playoff" class="nav-link{{if eq .CurrentMatchType playoffMatch }} active{{end}}" data-bs-toggle="tab">
      Playoff
    </a>
  </li>
</ul>
<div class="tab-content">
  {{range $type, $matches := .MatchesByType}}
  <div class="match-list tab-pane {{if eq $.CurrentMatchType $type}} active{{end}}" id="{{$type}}">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Match</th>
          <th>Time</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {{range $match := $matches}}
        <tr>
          <td class="bg-{{$match.ColorClass}}">{{$match.ShortName}}</td>
          <td class="bg-{{$match.ColorClass}}">{{$match.Time}}</td>
          <td class="bg-{{$match.ColorClass}} nowrap">
            <b class="btn btn-primary btn-sm" onclick="loadMatch({{$match.Id}});">Load</b>
            {{if ne $match.Status matchScheduled}}
              <b class="btn btn-primary btn-sm" onclick="showResult({{$match.Id}});">Show Result</b>
            {{end}}
          </td>
        </tr>
        {{end}}
      </tbody>
    </table>
  </div>
  {{end}}
</div>
