{{/*
  Copyright 2018 Team 254. All Rights Reserved.
  Author: pat@patfairbank.com (Patrick Fairbank)

  Display that shows upcoming matches and timing information.
*/}}
<!DOCTYPE html>
<html>
  <head>
    <title>Queueing Display - {{.EventSettings.Name}} - Cheesy Arena</title>
    <link rel="shortcut icon" href="/static/img/favicon.ico">
    <link rel="stylesheet" href="/static/css/lib/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/css/cheesy-arena.css" />
    <link rel="stylesheet" href="/static/css/queueing_display.css" />
  </head>
  <body>
    <div id="header" class="col-lg-10 col-lg-offset-1">
      <div class="pull-left">Match Queue</div>
      <div class="pull-right">{{.EventSettings.Name}}</div>
    </div>
    <div id="matches"></div>
    <div id="earlyLateMessage" class="col-lg-10 col-lg-offset-1"></div>
  </body>
  <script src="/static/js/lib/jquery.min.js"></script>
  <script src="/static/js/lib/jquery.json-2.4.min.js"></script>
  <script src="/static/js/lib/jquery.websocket-0.0.1.js"></script>
  <script src="/static/js/lib/jquery.transit.min.js"></script>
  <script src="/static/js/lib/bootstrap.min.js"></script>
  <script src="/static/js/cheesy-websocket.js"></script>
  <script src="/static/js/match_timing.js"></script>
  <script src="/static/js/queueing_display.js"></script>
</html>
