{{range $i, $match := .Matches}}
<div class="row justify-content-center">
  <div class="col-lg-10">
    <div class="card card-body">
      <div class="row">
        <div class="col-lg-6">
          <div class="row">
            <div class="col-lg-4 ps-4">
              <h1 class="mt-2">
                {{if eq $i 0}}
                On Field
                {{else if eq $i 1}}
                On Deck
                {{else if eq $i 2}}
                Up In 2
                {{else if eq $i 3}}
                Up In 3
                {{else if eq $i 4}}
                Up In 4
                {{end}}
              </h1>
            </div>
            <div class="col-lg-3">
              <h1 class="mt-2">{{$match.ShortName}}</h1>
            </div>
            <div class="col-lg-5">
              <h1 class="mt-2">{{$match.Time.Local.Format "3:04 PM"}}</h1>
            </div>
          </div>
          {{if eq $i 0}}
            <div class="row mt-3">
              <div id="matchState" class="col-lg-4 ps-4"></div>
              <div id="matchTime" class="col-lg-3"></div>
            </div>
          {{end}}
        </div>
        <div class="col-lg-1 avatars text-end">
          <img class="avatar" src="/api/teams/{{$match.Red1}}/avatar" /><br />
          <img class="avatar" src="/api/teams/{{$match.Red2}}/avatar" /><br />
          <img class="avatar" src="/api/teams/{{$match.Red3}}/avatar" />
        </div>
        <div class="col-lg-2 red-teams">
          {{if $match.Red1}}
          <div class="row">
            <div class="col-lg-8">
              {{$match.Red1}}<br />{{$match.Red2}}<br />{{$match.Red3}}
              {{range $team := (index $.RedOffFieldTeams $i) }}
              <br />{{$team}}
              {{end}}
            </div>
            <div class="col-lg-4">
              {{if $match.PlayoffRedAlliance}}
                <div class="alliance-container{{if (index $.RedOffFieldTeams $i)}} alliance-tall{{end}}">
                  <div class="alliance-number">{{$match.PlayoffRedAlliance}}</div>
                </div>
              {{end}}
            </div>
          </div>
          {{end}}
        </div>
        <div class="col-lg-2 blue-teams text-end">
          {{if $match.Blue1}}
          <div class="row">
            <div class="col-lg-4">
              {{if $match.PlayoffBlueAlliance}}
                <div class="alliance-container{{if (index $.BlueOffFieldTeams $i)}} alliance-tall{{end}}">
                  <div></div>
                  <div class="alliance-number">{{$match.PlayoffBlueAlliance}}</div>
                </div>
              {{end}}
            </div>
            <div class="col-lg-8">
              {{$match.Blue1}}<br />{{$match.Blue2}}<br />{{$match.Blue3}}
              {{range $team := (index $.BlueOffFieldTeams $i) }}
              <br />{{$team}}
              {{end}}
            </div>
          </div>
          {{end}}
        </div>
        <div class="col-lg-1 avatars">
          <img class="avatar" src="/api/teams/{{$match.Blue1}}/avatar" /><br />
          <img class="avatar" src="/api/teams/{{$match.Blue2}}/avatar" /><br />
          <img class="avatar" src="/api/teams/{{$match.Blue3}}/avatar" />
        </div>
      </div>
    </div>
  </div>
</div>
{{end}}
