{{/*
Copyright 2014 Team 254. All Rights Reserved.
Author: pat@patfairbank.com (Patrick Fairbank)
Author: ian@yann.io (Ian Thompson)

UI for entering realtime scores.
*/}}
{{define "title"}}Scoring Panel{{end}}
{{define "body"}}
<header id="banner">
  {{if .Position.ScoresAuto }}
  <div class="banner-title">Auto</div>
  {{else}}
  <div class="banner-placeholder"></div>
  {{end}}
  <div class="screen-title">{{.Position.Title}} - <span id="matchName">&nbsp;</span></div>
  {{if .Position.ScoresEndgame }}
  <div class="banner-title">Endgame</div>
  {{else}}
  <div class="banner-placeholder"></div>
  {{end}}
</header>
<main>
  <div id="top-controls">
    <div id="auto-controls">
      {{if .Position.ScoresAuto}}
      {{range $i := seq 3}}
      {{template "teamButton" (dict "id" (printf "auto-status-%d" $i) "index" $i "class" "scoring-auto-button" "onclick"
      (printf "handleAutoClimbClick(%d);" $i))}}
      {{end}}
      {{end}}
    </div>
    <button id="commit" onclick="commitMatchScore();" ontouchstart disabled>Commit</button>
    <div id="endgame-controls">
      {{if .Position.ScoresEndgame}}
      {{range $i := seq 3}}
      {{template "teamButton" (dict "id" (printf "endgame-status-%d" $i) "index" $i "class" "scoring-teleop-button"
      "onclick" "showEndgameDialog();")}}
      {{end}}
      {{end}}
    </div>
  </div>
  {{if not .PlcIsEnabled}}
  <div id="fuel-controls">
    {{template "counter" (dict "id" "autoFuel" "label" "Auto FUEL")}}
    {{template "counter" (dict "id" "activeFuel" "label" "Active FUEL")}}
    {{template "counter" (dict "id" "inactiveFuel" "label" "Inactive FUEL")}}
  </div>
  {{end}}
  <div id="bottom-controls">
    <button id="fouls-button" class="scoring-button" onclick="showFoulsDialog();" ontouchstart disabled>Fouls</button>
  </div>
</main>

<dialog id="endgame-dialog" onclick="closeEndgameDialogIfOutside(event);">
  <div class="dialog-container">
    <div class="dialog-banner">Teleop Climb Scoring</div>
    <div id="endgame-scoring">
      {{range $i := seq 3}}
      {{template "teleop-climb-input" (dict "id" (printf "endgame-input-%d" $i) "index" $i)}}
      {{end}}
    </div>
    <button class="dialog-close" autofocus onclick="closeEndgameDialog();" ontouchstart>Close</button>
  </div>
</dialog>

<dialog id="fouls-dialog" onclick="closeFoulsDialogIfOutside(event);">
  <div class="dialog-container">
    <div class="dialog-banner">Add Fouls</div>
    <div id="foul-container">
      {{template "foulButton" (dict "id" "foul-blue-minor" "color" "blue" "label" "Blue" "isMajor" false)}}
      {{template "foulButton" (dict "id" "foul-red-minor" "color" "red" "label" "Red" "isMajor" false)}}
      {{template "foulButton" (dict "id" "foul-blue-major" "color" "blue" "label" "Blue Major" "isMajor" true)}}
      {{template "foulButton" (dict "id" "foul-red-major" "color" "red" "label" "Red Major" "isMajor" true)}}
    </div>
    <button class="dialog-close" autofocus onclick="closeFoulsDialog();" ontouchstart>Close</button>
  </div>
</dialog>
{{end}}

{{define "head"}}
<link rel="manifest" href="/static/manifest/{{.PositionName}}_scoring.manifest">
<meta name="viewport" content="width=device-width, user-scalable=no">
<link href="/static/css/scoring_panel.css" rel="stylesheet">
{{end}}
{{define "script"}}
<script src="/static/js/match_timing.js"></script>
<script src="/static/js/scoring_panel.js"></script>
{{end}}

{{define "foulButton"}}
<button id="{{.id}}" class="foul-button {{.color}}" ontouchstart onclick="addFoul('{{.color}}', {{.isMajor}});">
  <div class="foul-button-label">{{.label}}</div>
  <div class="foul-button-counters">
    <span class="fouls-local">0</span> / <span class="fouls-global">0</span>
  </div>
</button>
{{end}}

{{define "teamButton"}}
<button id="{{.id}}" class="team-button team-{{.index}} {{.class}}" onclick="{{.onclick}}" ontouchstart disabled>
  <div class="team-num"></div>
  <div class="team-text">None</div>
</button>
{{end}}

{{define "counter"}}
<div id="{{.id}}" class="counter">
  <button class="counter-decrement scoring-button" onclick="handleCounterClick('{{.id}}', -1);" ontouchstart disabled>
    -1
  </button>
  <div class="counter-status">
    {{if .has_auto}}
    <div class="counter-main-clone">Teleop: <span class="counter-value">0</span></div>
    <div class="counter-auto-row">Auto: <span class="counter-auto-value">0</span></div>
    {{end}}
    <div class="counter-value counter-main-value">0</div>
    <div class="counter-label">{{.label}}</div>
  </div>
  <button class="counter-increment scoring-button" onclick="handleCounterClick('{{.id}}', 1);" ontouchstart disabled>
    +1
  </button>
</div>
{{end}}

{{define "reefColumn"}}
<div id="reef-column-{{.index}}" class="reef-column">
  <div class="reef-column-contents">
    {{ $index := .index }}
    {{range $i := seq 3}}
    <button class="reef-button scoring-button" onclick="handleReefClick({{$index}}, 5 - {{$i}})" ontouchstart
      disabled></button>
    {{end}}
    <svg class="reef-image" viewBox="0 0 120 600">
      <use xlink:href="#reef-column"/>
    </svg>
  </div>
</div>
{{end}}

{{define "teleop-climb-input"}}
<div id="{{.id}}" class="endgame-input team-{{.index}}">
  <div class="team-num"></div>
  <div class="climb-buttons">
    {{template "teleop-climb-button" (dict "label" "L3" "climbLevel" 3 "index" .index)}}
    {{template "teleop-climb-button" (dict "label" "L2" "climbLevel" 2 "index" .index)}}
    {{template "teleop-climb-button" (dict "label" "L1" "climbLevel" 1 "index" .index)}}
    {{template "teleop-climb-button" (dict "label" "None" "climbLevel" 0 "index" .index)}}
  </div>
</div>
{{end}}
{{define "teleop-climb-button"}}
<button class="climb-input-button teleop-climb-{{.climbLevel}}"
  onclick="handleTeleopClimbClick({{.index}}, {{.climbLevel}});">{{.label}}
</button>
{{end}}