{{/*
  Copyright 2014 Team 254. All Rights Reserved.
  Author: pat@patfairbank.com (Patrick Fairbank)

  UI for generating a match schedule.
*/}}
{{define "title"}}Match Scheduling{{end}}
{{define "body"}}
<div class="row">
  {{if .ErrorMessage}}
    <div class="alert alert-dismissible alert-danger">
      <button type="button" class="close" data-dismiss="alert">×</button>
      {{.ErrorMessage}}
    </div>
  {{end}}
  <div class="col-lg-5">
    <div class="card card-body bg-body-tertiary">
      <form id="scheduleForm" action="/setup/schedule/save?matchType={{.MatchType}}" method="POST">
        <fieldset>
          <legend>Schedule Parameters</legend>
          <div class="row mb-3">
            <label class="col-lg-5 control-label">Match Type</label>
            <div class="col-lg-7">
              <div class="radio">
                <label>
                  <input type="radio" name="matchType" value="practice"
                      onchange="window.location = '/setup/schedule?matchType=practice';"
                      {{if eq .MatchType practiceMatch}}checked{{end}}>
                  Practice
                </label>
              </div>
              <div class="radio">
                <label>
                  <input type="radio" name="matchType" value="qualification"
                      onchange="window.location = '/setup/schedule?matchType=qualification';"
                      {{if eq .MatchType qualificationMatch}}checked{{end}}>
                  Qualification
                </label>
              </div>
            </div>
          </div>
          <div id="blockContainer"></div>
          <p>
            <b>Total match count: <span id="totalNumMatches">0</span></b><br />
            <b>Matches per team: <span id="matchesPerTeam">0</span></b><br />
            <b>Excess matches: <span id="numExcessMatches">0</span></b><br />
            <b>Matches needed for +1 per team: <span id="nextLevelMatches">0</span></b>
          </p>
          <div class="row">
            <div class="col-lg-12">
              <p><button type="button" class="btn btn-secondary" onclick="addBlock();">Add Block</button>
              <button type="button" class="btn btn-primary" onclick="generateSchedule();">
                Generate Schedule/Save Blocks
              </button></p>
              <p><button type="submit" class="btn btn-danger">Save Schedule</button></p>
            </div>
          </div>
          {{if .EventSettings.TbaPublishingEnabled}}
            <p>Schedule is not automatically published to The Blue Alliance. Manually publish it from the Settings
              tab.</p>
          {{end}}
        </fieldset>
      </form>
    </div>
  </div>
  <div class="col-lg-5">
    <table class="table table-striped table-hover ">
      <thead>
        <tr>
          <th>Match</th>
          <th>Time</th>
        </tr>
      </thead>
      <tbody>
        {{range $match := .Matches}}
          <tr>
            <td>{{$match.LongName}}</td>
            <td>{{$match.Time}}</td>
          </tr>
        {{end}}
      </tbody>
    </table>
  </div>
  <div class="col-lg-2">
    <table class="table table-striped table-hover ">
      <thead>
        <tr>
          <th>Team</th>
          <th>First Match</th>
        </tr>
      </thead>
      <tbody>
        {{range $team, $firstMatch := .TeamFirstMatches}}
          <tr>
            <td>{{$team}}</td>
            <td>{{$firstMatch}}</td>
          </tr>
        {{end}}
      </tbody>
    </table>
  </div>
</div>
<div id="blockTemplate" style="display: none;">
  <div class="card card-body bg-body-tertiary mb-3" id="block{{"{{blockNumber}}"}}">
    <div class="row justify-content-between mb-3">
      <div class="col-lg-6"><b>Block {{"{{blockNumber}}"}}</b></div>
      <div class="col-lg-1"><button class="btn-close" onclick="deleteBlock({{"{{blockNumber}}"}});"></button></div>
    </div>
    <div class="row mb-3">
      <label class="col-lg-4 control-label">Start Time</label>
      <div class="col-lg-8">
        <div class="input-group" id="startTimePicker{{"{{blockNumber}}"}}"
          onchange="updateBlock({{"{{blockNumber}}"}});">
          <input type="text" class="form-control" id="startTime{{"{{blockNumber}}"}}"
              onchange="updateBlock({{"{{blockNumber}}"}});">
          <span class="input-group-text"><i class="bi-calendar-week"></i></span>
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <label class="col-lg-4 control-label">End Time</label>
      <div class="col-lg-8">
        <div class="input-group" id="endTimePicker{{"{{blockNumber}}"}}"
            onchange="updateBlock({{"{{blockNumber}}"}});">
          <input type="text" class="form-control" id="endTime{{"{{blockNumber}}"}}"
              onchange="updateBlock({{"{{blockNumber}}"}});">
          <span class="input-group-text"><i class="bi-calendar-week"></i></span>
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <label class="col-lg-4 control-label">Cycle Time (m:s)</label>
      <div class="col-lg-8">
        <input type="text" class="form-control input-sm" id="matchSpacingMinSec{{"{{blockNumber}}"}}"
            value="{{"{{matchSpacingMinSec}}"}}" placeholder="6:00" onchange="updateBlock({{"{{blockNumber}}"}});">
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-lg-4">Match count: <span id="numMatches{{"{{blockNumber}}"}}"></span></div>
      <div class="col-lg-8">Actual end time: <span id="actualEndTime{{"{{blockNumber}}"}}"></span></div>
    </div>
  </div>
</div>

{{end}}
{{define "script"}}
<script>var numTeams = {{.NumTeams}};</script>
<script src="/static/js/setup_schedule.js"></script>
<script>
  {{range $block := .ScheduleBlocks}}
    addBlock(moment({{$block.StartTime.Unix}} * 1000), {{$block.NumMatches}}, {{$block.MatchSpacingSec}});
  {{end}}
  {{if not .ScheduleBlocks}}
    addBlock();
  {{end}}
</script>
{{end}}
