{{/*
  Copyright 2014 Team 254. All Rights Reserved.
  Author: pat@patfairbank.com (Patrick Fairbank)

  UI for configuring event settings.
*/}}
{{define "title"}}Settings{{end}}
{{define "body"}}
<div class="row justify-content-center">
  {{if .ErrorMessage}}
    <div class="alert alert-danger alert-dismissible">
      <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
      {{.ErrorMessage}}
    </div>
  {{end}}
  <div class="col-lg-6">
    <div class="card card-body bg-body-tertiary">
      <form action="/setup/settings" method="POST">
        <fieldset class="mb-4">
          <legend>Event Settings</legend>
          <div class="row mb-3">
            <label class="col-lg-6 control-label">Name</label>
            <div class="col-lg-6">
              <input type="text" class="form-control" name="name" placeholder="{{.Name}}">
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-lg-6 control-label">Playoff Type</label>
            <div class="col-lg-6">
              <div class="radio">
                <label>
                  <input type="radio" name="playoffType" value="DoubleEliminationPlayoff"
                    onclick="updateNumPlayoffAlliances(true);"
                    {{if eq .PlayoffType 0}}checked{{end}}>
                  Double-Elimination (8 alliances)
                </label>
              </div>
              <div class="radio">
                <label>
                  <input type="radio" name="playoffType" value="SingleEliminationPlayoff"
                    onclick="updateNumPlayoffAlliances(false);"
                      {{if eq .PlayoffType 1}}checked{{end}}>
                  Single-Elimination (2-16 alliances)
                </label>
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-lg-6 control-label">Number of Alliances</label>
            <div class="col-lg-6">
              <input type="text" class="form-control" name="numPlayoffAlliances" value="{{.NumPlayoffAlliances}}"
                  {{if eq .PlayoffType 0}}disabled{{end}}>
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-lg-6 control-label">Round 2 Selection Order</label>
            <div class="col-lg-6">
              <div class="radio">
                <label>
                  <input type="radio" name="selectionRound2Order" value="F"
                      {{if eq .SelectionRound2Order "F"}}checked{{end}}>
                  First to Last
                </label>
              </div>
              <div class="radio">
                <label>
                  <input type="radio" name="selectionRound2Order" value="L"
                      {{if eq .SelectionRound2Order "L"}}checked{{end}}>
                  Last to First
                </label>
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-lg-6 control-label">Round 3 Selection Order</label>
            <div class="col-lg-6">
              <div class="radio">
                <label>
                  <input type="radio" name="selectionRound3Order" value="F"
                      {{if eq .SelectionRound3Order "F"}}checked{{end}}>
                  First to Last
                </label>
              </div>
              <div class="radio">
                <label>
                  <input type="radio" name="selectionRound3Order" value="L"
                      {{if eq .SelectionRound3Order "L"}}checked{{end}}>
                  Last to First
                </label>
              </div>
              <div class="radio">
                <label>
                  <input type="radio" name="selectionRound3Order" value=""
                      {{if eq .SelectionRound3Order ""}}checked{{end}}>
                  None
                </label>
              </div>
            </div>
          </div>
        </fieldset>
        <fieldset class="mb-4">
          <legend>Automatic Team Info Download</legend>
          <div class="row mb-3">
            <label class="col-lg-8 control-label" for="tbaDownloadEnabled">
              Enable Automatic Team Info Download (From TBA)
            </label>
            <div class="col-lg-1 checkbox">
              <input type="checkbox" id="tbaDownloadEnabled"
                name="tbaDownloadEnabled"{{if .TbaDownloadEnabled}} checked{{end}}>
            </div>
          </div>
        </fieldset>
        <fieldset class="mb-4">
          <legend>Publishing</legend>
          <p>Contact The Blue Alliance to obtain an event code and credentials.</p>
          <div class="row mb-3">
            <label class="col-lg-8 control-label" for="tbaPublishingEnabled">Enable The Blue Alliance publishing</label>
            <div class="col-lg-1 checkbox">
              <input type="checkbox" id="tbaPublishingEnabled"
                name="tbaPublishingEnabled"{{if .TbaPublishingEnabled}} checked{{end}}>
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-lg-6 control-label">TBA Event Code</label>
            <div class="col-lg-6">
              <input type="text" class="form-control" name="tbaEventCode" value="{{.TbaEventCode}}">
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-lg-6 control-label">TBA Auth ID</label>
            <div class="col-lg-6">
              <input type="text" class="form-control" name="tbaSecretId" value="{{.TbaSecretId}}">
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-lg-6 control-label">TBA Secret</label>
            <div class="col-lg-6">
              <input type="text" class="form-control" name="tbaSecret" value="{{.TbaSecret}}">
            </div>
          </div>
        </fieldset>
        <fieldset class="mb-4">
          <legend>Nexus</legend>
          <p>Automatically populates practice and playoff match lineups from Nexus. Uses the same event code as TBA;
            configure it above if enabling.</p>
          <div class="row mb-3">
            <label class="col-lg-8 control-label" for="nexusEnabled">Enable pulling lineup from Nexus</label>
            <div class="col-lg-1 checkbox">
              <input type="checkbox" id="nexusEnabled" name="nexusEnabled"{{if .NexusEnabled}} checked{{end}}>
            </div>
          </div>
        </fieldset>
        <fieldset class="mb-4">
          <legend>Authentication</legend>
          <p>Configure password to enable authentication, or leave blank to disable.</p>
          <div class="row mb-3">
            <label class="col-lg-6 control-label">Password for 'admin' user</label>
            <div class="col-lg-6">
              <input type="password" class="form-control" name="adminPassword" value="{{.AdminPassword}}">
            </div>
          </div>
        </fieldset>
        <fieldset class="mb-4">
          <legend>Networking</legend>
          <p>Enable this setting if you have a Linksys WRT1900ACS or Vivid-Hosting VH-109 access point and Cisco
            Catalyst 3500-series switch available, for isolating each team to its own SSID and VLAN.</p>
          <div class="row mb-3">
            <label class="col-lg-8 control-label" for="networkSecurityEnabled">Enable advanced network security</label>
            <div class="col-lg-1 checkbox">
              <input type="checkbox" id="networkSecurityEnabled"
                name="networkSecurityEnabled"{{if .NetworkSecurityEnabled}} checked{{end}}>
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-lg-6 control-label">AP Address (specify port 8081 for Linksys APs)</label>
            <div class="col-lg-6">
              <input type="text" class="form-control" name="apAddress" value="{{.ApAddress}}">
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-lg-6 control-label">AP API Password</label>
            <div class="col-lg-6">
              <input type="password" class="form-control" name="apPassword" value="{{.ApPassword}}">
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-lg-6 control-label">AP Channel</label>
            <div class="col-lg-6">
              <select class="form-select" name="apChannel" value="{{.ApChannel}}">
                <option value="36"{{if eq .ApChannel 36}} selected{{end}}>36 (5 GHz)</option>
                <option value="40"{{if eq .ApChannel 40}} selected{{end}}>40 (5 GHz)</option>
                <option value="44"{{if eq .ApChannel 44}} selected{{end}}>44 (5 GHz)</option>
                <option value="48"{{if eq .ApChannel 48}} selected{{end}}>48 (5 GHz)</option>
                <option value="149"{{if eq .ApChannel 149}} selected{{end}}>149 (5 GHz)</option>
                <option value="153"{{if eq .ApChannel 153}} selected{{end}}>153 (5 GHz)</option>
                <option value="157"{{if eq .ApChannel 157}} selected{{end}}>157 (5 GHz)</option>
                <option value="161"{{if eq .ApChannel 161}} selected{{end}}>161 (5 GHz)</option>
                {{range $i, $j := seq 29}}
                  <option value="{{(add 5 (multiply $i 8))}}"
                    {{if eq $.ApChannel (add 5 (multiply $i 8))}} selected{{end}}>
                    {{(add 5 (multiply $i 8))}} (6 GHz)
                  </option>
                {{end}}
              </select>
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-lg-6 control-label">Switch Address</label>
            <div class="col-lg-6">
              <input type="text" class="form-control" name="switchAddress" value="{{.SwitchAddress}}">
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-lg-6 control-label">Switch Password</label>
            <div class="col-lg-6">
              <input type="password" class="form-control" name="switchPassword" value="{{.SwitchPassword}}">
            </div>
          </div>
        </fieldset>
        <fieldset class="mb-4">
          <legend>PLC</legend>
          <div class="row mb-3">
            <label class="col-lg-6 control-label">PLC Address</label>
            <div class="col-lg-6">
              <input type="text" class="form-control" name="plcAddress" value="{{.PlcAddress}}">
            </div>
          </div>
        </fieldset>
        <fieldset class="mb-4">
          <legend>Team Signs</legend>
          <p>
            If you are using a set of the (2024+) official team number / timer signs, enter their IP addresses here.
          </p>
          <div class="row mb-3">
            <label class="col-lg-6 control-label">Red 1 Sign Address</label>
            <div class="col-lg-6">
              <input type="text" class="form-control" name="teamSignRed1Address" value="{{.TeamSignRed1Address}}">
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-lg-6 control-label">Red 2 Sign Address</label>
            <div class="col-lg-6">
              <input type="text" class="form-control" name="teamSignRed2Address" value="{{.TeamSignRed2Address}}">
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-lg-6 control-label">Red 3 Sign Address</label>
            <div class="col-lg-6">
              <input type="text" class="form-control" name="teamSignRed3Address" value="{{.TeamSignRed3Address}}">
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-lg-6 control-label">Red Timer Sign Address</label>
            <div class="col-lg-6">
              <input type="text" class="form-control" name="teamSignRedTimerAddress"
                value="{{.TeamSignRedTimerAddress}}">
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-lg-6 control-label">Blue 1 Sign Address</label>
            <div class="col-lg-6">
              <input type="text" class="form-control" name="teamSignBlue1Address" value="{{.TeamSignBlue1Address}}">
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-lg-6 control-label">Blue 2 Sign Address</label>
            <div class="col-lg-6">
              <input type="text" class="form-control" name="teamSignBlue2Address" value="{{.TeamSignBlue2Address}}">
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-lg-6 control-label">Blue 3 Sign Address</label>
            <div class="col-lg-6">
              <input type="text" class="form-control" name="teamSignBlue3Address" value="{{.TeamSignBlue3Address}}">
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-lg-6 control-label">Blue Timer Sign Address</label>
            <div class="col-lg-6">
              <input type="text" class="form-control" name="teamSignBlueTimerAddress"
                value="{{.TeamSignBlueTimerAddress}}">
            </div>
          </div>
        </fieldset>
        <fieldset class="mb-4">
          <legend>Game-Specific</legend>
          <div class="row mb-3">
            <label class="col-lg-6 control-label">Autonomous Period Duration<br />(seconds)</label>
            <div class="col-lg-6">
              <input type="text" class="form-control" name="autoDurationSec" value="{{.AutoDurationSec}}">
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-lg-6 control-label">Pause Duration<br />(seconds)</label>
            <div class="col-lg-6">
              <input type="text" class="form-control" name="pauseDurationSec" value="{{.PauseDurationSec}}">
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-lg-6 control-label">Teleoperated Period Duration<br />(seconds)</label>
            <div class="col-lg-6">
              <input type="text" class="form-control" name="teleopDurationSec" value="{{.TeleopDurationSec}}">
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-lg-6 control-label">Warning Remaining Duration<br />(seconds)</label>
            <div class="col-lg-6">
              <input type="text" class="form-control" name="warningRemainingDurationSec"
                value="{{.WarningRemainingDurationSec}}">
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-lg-6 control-label">
              Melody Bonus RP Note Threshold<br />(Without Coopertition)
            </label>
            <div class="col-lg-6">
              <input type="text" class="form-control" id="melodyBonusThresholdWithoutCoop"
                name="melodyBonusThresholdWithoutCoop" value="{{.MelodyBonusThresholdWithoutCoop}}">
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-lg-6 control-label">
              Melody Bonus RP Note Threshold<br />(With Coopertition; 0 = Coopertition Disabled)
            </label>
            <div class="col-lg-6">
              <input type="text" class="form-control" id="melodyBonusThresholdWithCoop"
                name="melodyBonusThresholdWithCoop" value="{{.MelodyBonusThresholdWithCoop}}">
            </div>
          </div>
          <div class="row">
            <label class="col-lg-6 control-label">Amplification Note Limit (0 = No Limit)</label>
            <div class="col-lg-6">
              <input type="text" class="form-control" id="amplificationNoteLimit" name="amplificationNoteLimit"
                value="{{.AmplificationNoteLimit}}">
            </div>
          </div>
          <div class="row">
            <label class="col-lg-6 control-label">Amplification Duration (seconds)</label>
            <div class="col-lg-6">
              <input type="text" class="form-control" id="amplificationDurationSec" name="amplificationDurationSec"
                value="{{.AmplificationDurationSec}}">
            </div>
          </div>
        </fieldset>
        <div class="row justify-content-center">
          <div class="col-lg-2">
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="card card-body bg-body-tertiary mb-4">
      <legend>Database</legend>
      <p>
        <a href="/setup/db/save"><button class="btn btn-primary">Save Copy of Database</button></a>
      </p>
      <p>
        <button type="button" class="btn btn-warning" onclick="$('#uploadDatabase').modal('show');">
          Load Database from Backup
        </button>
      </p>
      <p>
        <button type="button" class="btn btn-danger" onclick="$('#confirmClearDataPlayoff').modal('show');">
          Clear Playoff/Alliance Data
        </button>
      </p>
      <p>
        <button type="button" class="btn btn-danger" onclick="$('#confirmClearDataQualification').modal('show');">
          Clear Qualification Data
        </button>
      </p>
      <p>
        <button type="button" class="btn btn-danger" onclick="$('#confirmClearDataPractice').modal('show');">
          Clear Practice Data
        </button>
      </p>
    </div>
    {{if .TbaPublishingEnabled}}
      <div class="card card-body bg-body-tertiary">
        <legend>Publishing</legend>
        <p>
          <a href="/setup/settings/publish_teams"><button class="btn btn-primary">Publish Teams</button></a>
        </p>
        <p>
          <a href="/setup/settings/publish_matches"><button class="btn btn-primary">Publish Schedule/Results</button></a>
        </p>
        <p>
          <a href="/setup/settings/publish_rankings"><button class="btn btn-primary">Publish Standings</button></a>
        </p>
        <p>
          <a href="/setup/settings/publish_alliances"><button class="btn btn-primary">Publish Alliances</button></a>
        </p>
        <p>
          <a href="/setup/settings/publish_awards"><button class="btn btn-primary">Publish Awards</button></a>
        </p>
      </div>
    {{end}}
  </div>
</div>
<div id="uploadDatabase" class="modal" style="top: 20%;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Choose Backup File</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
      </div>
      <form class="form-horizontal" action="/setup/db/restore" enctype="multipart/form-data" method="POST">
        <div class="modal-body">
          <p>Select the database file to load from. <b>This will overwrite any existing data.</b></p>
          <input type="file" name="databaseFile">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-danger">Load Database from Backup</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div id="confirmClearDataPlayoff" class="modal" style="top: 20%;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Confirm</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to clear all playoff match and alliance selection data?</p>
        <p>The database will automatically be backed up.</p>
      </div>
      <div class="modal-footer">
        <form class="form-horizontal" action="/setup/db/clear/playoff" method="POST">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-danger">Clear Playoff/Alliance Data</button>
        </form>
      </div>
    </div>
  </div>
</div>
<div id="confirmClearDataQualification" class="modal" style="top: 20%;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Confirm</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to clear all qualification match and ranking data?</p>
        <p>The database will automatically be backed up.</p>
      </div>
      <div class="modal-footer">
        <form class="form-horizontal" action="/setup/db/clear/qualification" method="POST">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-danger">Clear Qualification Data</button>
        </form>
      </div>
    </div>
  </div>
</div>
<div id="confirmClearDataPractice" class="modal" style="top: 20%;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Confirm</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to clear all practice match data?</p>
        <p>The database will automatically be backed up.</p>
      </div>
      <div class="modal-footer">
        <form class="form-horizontal" action="/setup/db/clear/practice" method="POST">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-danger">Clear Practice Data</button>
        </form>
      </div>
    </div>
  </div>
</div>
{{end}}
{{define "script"}}
<script>
  updateNumPlayoffAlliances = function(isDoubleElimination) {
    const numPlayoffAlliances = $("input[name=numPlayoffAlliances]");
    numPlayoffAlliances.prop("disabled", isDoubleElimination);
    if (isDoubleElimination) {
      numPlayoffAlliances.val(8);
    }
  };
</script>
{{end}}
