{{/*
  Copyright 2014 Team 254. All Rights Reserved.
  Author: pat@patfairbank.com (Patrick Fairbank)

  UI for controlling ephemeral aspects of the playing field.
*/}}
{{define "title"}}Field Configuration{{end}}
{{define "body"}}
<div class="row">
  <div class="col-lg-3">
    <div class="well">
      <legend>Alliance Station Displays</legend>
      {{range $displayId, $station := .AllianceStationDisplays}}
        <form class="form-horizontal" action="/setup/field" method="POST">
          <div class="form-group">
            <label class="col-lg-5 control-label">Display {{$displayId}}</label>
            <div class="col-lg-7">
              <input type="hidden" name="displayId" value="{{$displayId}}" />
              <select class="form-control" name="allianceStation" onchange="this.form.submit();">
                <option value=""></option>
                <option value="R1"{{if eq $station "R1"}} selected{{end}}>Red 1</option>
                <option value="R2"{{if eq $station "R2"}} selected{{end}}>Red 2</option>
                <option value="R3"{{if eq $station "R3"}} selected{{end}}>Red 3</option>
                <option value="B1"{{if eq $station "B1"}} selected{{end}}>Blue 1</option>
                <option value="B2"{{if eq $station "B2"}} selected{{end}}>Blue 2</option>
                <option value="B3"{{if eq $station "B3"}} selected{{end}}>Blue 3</option>
              </select>
            </div>
          </div>
        </form>
      {{end}}
      <legend>Reload All Displays</legend>
      <div class="form-group">
        <a href="/setup/field/reload_displays" class="btn btn-primary">Force Reload of All Displays</a>
      </div>
    </div>
  </div>
  <div class="col-lg-7">
    <div class="well">
      <legend>PLC</legend>
      <div class="row">
        <div class="col-lg-4">
          <table class="table">
            <tr>
              <th colspan="2">Inputs</th>
            </tr>
            {{range $i, $name := .InputNames}}
            <tr>
              <td>{{$name}}</td>
              <td id="input{{$i}}"></td>
            </tr>
            {{end}}
          </table>
        </div>
        <div class="col-lg-4">
          <table class="table">
            <tr>
              <th colspan="2">Registers</th>
            </tr>
            {{range $i, $name := .RegisterNames}}
            <tr>
              <td>{{$name}}</td>
              <td id="register{{$i}}"></td>
            </tr>
            {{end}}
          </table>
        </div>
        <div class="col-lg-4">
          <table class="table">
            <tr>
              <th colspan="2">Coils</th>
            </tr>
            {{range $i, $name := .CoilNames}}
            <tr>
              <td>{{$name}}</td>
              <td id="coil{{$i}}"></td>
            </tr>
            {{end}}
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-2">
    <div class="well">
      <legend>LEDs</legend>
      <div class="form-group">
        <label>Switch/Scale</label>
        {{range $i, $name := .LedModeNames}}
          <div class="radio">
            <label>
              <input type="radio" name="ledMode" value="{{$i}}" onclick="setLedMode();">{{$name}}
            </label>
          </div>
        {{end}}
      </div>
      <div class="form-group">
        <label>Vault</label>
        {{range $i, $name := .VaultLedModeNames}}
          <div class="radio">
            <label>
              <input type="radio" name="vaultLedMode" value="{{$i}}" onclick="setLedMode();">{{$name}}
            </label>
          </div>
        {{end}}
      </div>
    </div>
  </div>
</div>
{{end}}
{{define "script"}}
<script src="/static/js/setup_field.js"></script>
{{end}}
