{{/*
  Copyright 2016 Team 254. All Rights Reserved.
  Author: pat@patfairbank.com (Patrick Fairbank)

  UI for controlling the team defense selection process.
*/}}
<!DOCTYPE html>
<html>
  <head>
    <title>Playoff Defense Selection - {{.EventSettings.Name}} - Cheesy Arena</title>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="shortcut icon" href="/static/img/favicon.ico">
    <link rel="apple-touch-icon" href="/static/img/apple-icon.png">
    <link href="/static/css/lib/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/cheesy-arena.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <legend>Playoff Defense Selection</legend>
        {{if .ErrorMessage}}
          <div class="alert alert-dismissable alert-danger">
            <button type="button" class="close" data-dismiss="alert">×</button>
            {{.ErrorMessage}}
          </div>
        {{end}}
        {{range $match := .Matches}}
          <div class="well">
            <form method="POST">
              <input type="hidden" name="matchId" value="{{$match.Id}}" />
              <legend>{{$match.DisplayName}}</legend>
              <div class="row well well-darkred">
                <div class="col-lg-2"><h4>{{$match.Red1}}, {{$match.Red2}}, {{$match.Red3}}</h4></div>
                <div class="col-lg-2">
                  <select class="form-control" disabled="true">
                    <option value="LB">{{index $.DefenseNames "LB"}}</option>
                  </select>
                </div>
                {{template "defense" dict "name" "redDefense2" "value" $match.RedDefense2 "defenseNames" $.DefenseNames}}
                {{template "defense" dict "name" "redDefense3" "value" $match.RedDefense3 "defenseNames" $.DefenseNames}}
                {{template "defense" dict "name" "redDefense4" "value" $match.RedDefense4 "defenseNames" $.DefenseNames}}
                {{template "defense" dict "name" "redDefense5" "value" $match.RedDefense5 "defenseNames" $.DefenseNames}}
              </div>
              <div class="row well well-darkblue">
                <div class="col-lg-2"><h4>{{$match.Blue1}}, {{$match.Blue2}}, {{$match.Blue3}}</h4></div>
                <div class="col-lg-2">
                  <select class="form-control" disabled="true">
                    <option value="LB">{{index $.DefenseNames "LB"}}</option>
                  </select>
                </div>
                {{template "defense" dict "name" "blueDefense2" "value" $match.BlueDefense2 "defenseNames" $.DefenseNames}}
                {{template "defense" dict "name" "blueDefense3" "value" $match.BlueDefense3 "defenseNames" $.DefenseNames}}
                {{template "defense" dict "name" "blueDefense4" "value" $match.BlueDefense4 "defenseNames" $.DefenseNames}}
                {{template "defense" dict "name" "blueDefense5" "value" $match.BlueDefense5 "defenseNames" $.DefenseNames}}
              </div>
              <div class="text-center">
                <button type="submit" class="btn btn-danger">Save Selections</button>
              </div>
            </form>
          </div>
        {{end}}
      </div>
    </div>
    <script src="/static/js/lib/bootstrap.min.js"></script>
  </body>
</html>
{{define "defense"}}
<div class="col-lg-2">
  <select class="form-control" name="{{.name}}">
    <option value=""></option>
    <option value="CDF"{{if eq .value "CDF"}} selected{{end}}>{{index .defenseNames "CDF"}}</option>
    <option value="M"{{if eq .value "M"}} selected{{end}}>{{index .defenseNames "M"}}</option>
    <option value="R"{{if eq .value "R"}} selected{{end}}>{{index .defenseNames "R"}}</option>
    <option value="RW"{{if eq .value "RW"}} selected{{end}}>{{index .defenseNames "RW"}}</option>
    <option value="RT"{{if eq .value "RT"}} selected{{end}}>{{index .defenseNames "RT"}}</option>
  </select>
</div>
{{end}}
