{{/*
Copyright 2026 Team 254. All Rights Reserved.
Author: pat@patfairbank.com (Patrick Fairbank)

Single-line text display for the back of the team sign.
*/}}
<!DOCTYPE html>
<html>
  <head>
    <title>Team Sign Back Display - {{.EventSettings.Name}} - Cheesy Arena </title>
    <link rel="shortcut icon" href="/static/img/favicon.ico">
    <link rel="stylesheet" href="/static/css/lib/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/css/cheesy-arena.css"/>
    <link rel="stylesheet" href="/static/css/team_sign_back_display.css"/>
  </head>
  <body>
    <div id="displayContainer">
      <span id="displayText"></span>
    </div>
    <script src="/static/js/lib/jquery.min.js"></script>
    <script src="/static/js/lib/jquery.json-2.4.min.js"></script>
    <script src="/static/js/lib/jquery.websocket-0.0.1.js"></script>
    <script src="/static/js/cheesy-websocket.js"></script>
    <script src="/static/js/match_timing.js"></script>
    <script src="/static/js/team_sign_back_display.js"></script>
  </body>
</html>
